<% @title = 'Phenotype Attempt Distribution Centres MMRRC Repository Reconciled Report' %>
<h3># MMRRC Reconciled Phenotype Attempt Distribution Centres</h3>
<h4>Consortium: <%= @consortium %> and Production Centre: <%= @prod_centre %></h4>
<p>These are the clones that are available at MMRRC.<br>The Phenotype attempt must be in 'Cre Excision Complete' status to be included here.<br>To be reconciled against MMRRC the repository must have the Phenotype attempt allele orderable as either a 'Live Colony' or 'Cryo-Archive'.</p>
<p><%= link_to 'Download as CSV', report_csv_path %></p>
<div class='report'>

    <table>
      <thead>
        <tr>
          <th>Consortium</th>
          <th>Production Centre</th>
          <th>Gene Marker Symbol</th>
          <th>Phenotype Attempt Colony Name</th>
          <th>Mutation Type</th>
          <th>Allele Type</th>
          <th>Reconciled Date</th>
        </tr>
      </thead>
      <tbody>
        <% @mmrrc_reconciled_list.each do |report_row| %>
            <tr>
                <td><%= @consortium %></td>
                <td><%= @prod_centre %></td>
                <td><%= report_row['marker_symbol'] %></td>
                <td><%= report_row['phenotype_attempt_colony_name'] %></td>
                <td><%= report_row['es_cell_allele_mutation_type'] %></td>
                <% if report_row['mouse_allele_type'].blank? %>
                  <td><%= report_row['allele_type'] %></td>
                <% else %>
                  <td><%= report_row['mouse_allele_type'] %></td>
                <% end %>
                <td><%= report_row['reconciled_date'] %></td>
            </tr>
        <% end %>

      </tbody>
    </table>

</div>