<tr id="">
  <td>
  <%= f.collection_select :centre_id, @centres, :id, :name %>
  </td>
  <td>
  <%= f.collection_select :deposited_material_id, DepositedMaterial.all, :id, :name %>
  </td>
  <td>
  <%= f.text_field :start_date, :label => 'Start Date', :class => 'date-field' %>
  </td>
  <td>
  <%= f.text_field :end_date, :label => 'End Date', :class => 'date-field' %>
  </td>
  <td>
  <%= f.hidden_field :_destroy %>
  <%= link_to "remove", '#', class: "remove_fields" %>
  </td>
</tr>
