<% generator = MiAttemptFieldGenerator.new(form) %>

<fieldset>
  <legend>Universal details</legend>

  <%= generator.text_field :mi_date, :label => 'Micro-injection date', :class => 'date-field' %>

  <% if form.object.status %>
    <div>
      <label>Status</label>
      <span><%= form.object.status %></span>
    </div>
  <% end %>

  <%= generator.text_field(:colony_name, :class => 'x-form-text', :size => 10) %>

  <div>
    <%= form.label :production_centre_id %>
    <%= form.collection_select :production_centre_id, @centres, :id, :name %>
  </div>

  <div>
    <%= form.label :distribution_centre_id %>
    <%= form.collection_select :distribution_centre_id, @centres, :id, :name %>
  </div>

  <div>
    <%= form.label :comments %>
    <%= form.text_area :comments %>
  </div>
</fieldset>

<fieldset>
  <legend>Transfer details</legend>
  <%= generator.strains_field :blast_strain %>
  <%= generator.number_field :total_blasts_injected %>
  <%= generator.number_field :total_transferred %>
  <%= generator.number_field :number_surrogates_receiving %>
</fieldset>

<fieldset>
  <legend>Litter details</legend>
  <%= generator.number_field :total_pups_born %>
  <%= generator.number_field :total_female_chimeras %>
  <%= generator.number_field :total_male_chimeras %>
  <%= generator.number_field :number_of_males_with_0_to_39_percent_chimerism,   :label => 'Number of males with 0-39% chimerism' %>
  <%= generator.number_field :number_of_males_with_40_to_79_percent_chimerism,  :label => 'Number of males with 40-79% chimerism' %>
  <%= generator.number_field :number_of_males_with_80_to_99_percent_chimerism,  :label => 'Number of males with 80-99% chimerism' %>
  <%= generator.number_field :number_of_males_with_100_percent_chimerism,       :label => 'Number of males with 100% chimerism' %>
</fieldset>

<fieldset>
  <legend>Chimera mating details</legend>

  <%= generator.emma_status_field %>
  <%= generator.strains_field :colony_background_strain %>
  <%= generator.strains_field :test_cross_strain %>
  <%= generator.text_field :date_chimeras_mated, :class => 'date-field' %>
  <%= generator.number_field :number_of_chimera_matings_attempted %>
  <%= generator.number_field :number_of_chimera_matings_successful %>
  <%= generator.number_field :number_of_chimeras_with_glt_from_cct %>
  <%= generator.number_field :number_of_chimeras_with_glt_from_genotyping %>
  <%= generator.number_field :number_of_chimeras_with_0_to_9_percent_glt,   :label => 'Number of chimeras with 0-9% GLT' %>
  <%= generator.number_field :number_of_chimeras_with_10_to_49_percent_glt, :label => 'Number of chimeras with 10-49% GLT' %>
  <%= generator.number_field :number_of_chimeras_with_50_to_99_percent_glt, :label => 'Number of chimeras with 50-99% GLT' %>
  <%= generator.number_field :number_of_chimeras_with_100_percent_glt,      :label => 'Number of chimeras with 100% GLT' %>
  <%= generator.number_field :total_f1_mice_from_matings %>
  <%= generator.number_field :number_of_cct_offspring %>
  <%= generator.number_field :number_of_het_offspring %>
  <%= generator.number_field :number_of_live_glt_offspring %>
  <%= generator.mouse_allele_type_field %>
</fieldset>

<fieldset>
  <legend>QC details</legend>

  <%= generator.qc_fields %>

  <% [:should_export_to_mart, :is_active, :is_released_from_genotyping].each do |field| %>
    <div>
      <%= form.label field %>
      <%= form.check_box field %>
    </div>
  <% end %>
</fieldset>
