<% content_for :post_js_footer do %>

  <%= javascript_include_tag('raphael') %>
  <%= javascript_include_tag('jquery.qtip') %>
  <%= javascript_include_tag('diagram.builder') %>


<% end %>

<% generator = MiAttemptFieldGenerator.new(form) %>
<% mi_attempt = form.object %>

<%= hidden_field_tag :ignore_warnings, params[:ignore_warnings] %>

<%= form.hidden_field 'es_cell_name' %>
<%= form.hidden_field 'es_cell_marker_symbol' %>
<%= form.hidden_field 'mi_plan_id' %>
<input id="mutagenesis-show" type="hidden" value="<%= if !@mi_attempt.mutagenesis_factor.blank? then 'true' else 'false' end %>">
<input id="es_cell-show" type="hidden" value="<%= if !@mi_attempt.es_cell_name.blank? then 'true' else 'false' end %>">

<fieldset class="collapsible">
  <legend>Universal Details</legend>
  <div>
    <%= generator.text_field :mi_date, :label => 'Micro-Injection Date', :class => 'date-field' %>

    <% if ! mi_attempt.status.blank? %>
      <div>
        <label>Status</label>
        <span><%= mi_attempt.status.name %></span>
      </div>
    <% end %>

    <%= generator.text_field(:colony_name, :class => 'x-form-text', :size => 20) %>

    <div>
      <%= form.label :comments %>
      <%= form.text_area :comments %>
    </div>
  </div>
</fieldset>

<div id="object-crispr" class="object-crispr">
  <fieldset class="collapsible">
    <legend>Mutagenesis Factor Details</legend>
    <div id="mutagenesis-factor-form">
      <div id="mutagenesis-factor-fields"></div>
      <label for="marker_symbol">Marker Symbol</label>
      <input id="marker_symbol" name="marker_symbol" value="<%= @marker_symbol %>" readonly>
      <%= form.fields_for :mutagenesis_factor do |builder| %>
        <div>
          <% if !builder.object.new_record? %>
            <label for="mi_attempt_mutagenesis_factor_attributes_external_ref">Mutagenesis External Ref</label>
            <%= builder.text_field :external_ref%>
          <% end %>
        </div>
      <% end %>
      <div id="parent_colony-container">
        <%= generator.text_field(:parent_colony_name, :class => 'x-form-text', :size => 20) %> <%= mi_attempt.parent_colony.try(:allele_symbol_superscript)%>
      </div>
      <div id="blast_strain-container">
        <%= generator.strains_field :blast_strain %>
      </div>

      <div id="vector-container">
        <%= form.fields_for :mutagenesis_factor do |builder| %>
          <%= builder.label :vector_name%>
          <%= builder.select 'vector_name', options_for_select(@vector_options[:values], disabled: @vector_options[:disabled], selected: @vector_options[:selected]) %>
        <% end %>
      </div>
      <div id="nuclease-container">
        <%= form.fields_for :mutagenesis_factor do |builder| %>
          <%= builder.label :nuclease%>
          <%= builder.select :nuclease , MutagenesisFactor::NUCLEASES%>
        <% end %>
      </div>

      <div>
        <label for="mi_attempts_mutagenesis_factor_crisprs">Crisprs</label>
        <table id="mutagenesis_factor_table" class="report_table">
          <thead class="title">
            <tr>
              <th>Sequence</th>
              <th>Chr</th>
              <th>Chr Start</th>
              <th>Chr End</th>
            </tr>
          </thead>
          <tbody class="distribution_centres"  id="crispr-table">
              <%= form.fields_for :mutagenesis_factor do |builder| %>
                <%= builder.fields_for :crisprs do |builder2| %>
                 <%= render '/shared/crisprs_fields', f: builder2 %>
                <% end %>
              <% end %>
          </tbody>
        </table>
        <div id="crispr_edit_button"></div>
      </div>
    </div>
  </fieldset>
</div>

<fieldset class="collapsible">
  <legend>Mi-Plan Details</legend>
  <div>
    <div id="mi_plan_preious_selection" class="grid_12 alpha omega" <%= if @mi_attempt.consortium_name.blank? then 'style=display:none;' end%>>
      <div class="grid_3">
        <div class="consortium-name">
          <div class="label">Consortium</div>
          <div><%= @mi_attempt.consortium_name %></div>
        </div>
      </div>
      <div class="grid_3">
        <div class="production-centre-name">
          <div class="label">Production Centre</div>
          <div><%= @mi_attempt.production_centre_name %></div>
        </div>
      </div>
    </div>
    <div>
      <div id="mi_plan_selection_div" <%= if !@mi_attempt.mi_plan_id.blank? then 'style=display:none;' end%>>
        <div id="mi_plan_list" ></div>
        <div id="create_plan"><a id="create_plan_link" href=" <%= url_for(:controller => :mi_plans, :action => :gene_selection) %>" target="_blank">Create new miplan</a></div>
      </div>
      <div id="change_plan" <%= if @mi_attempt.mi_plan_id.blank? then 'style=display:none;' end%>></div>
    </div>
  </div>
</fieldset>

<%= form.fields_for :mutagenesis_factor do |builder| %>
  <fieldset id="genotype_primer_field_set" class="collapsible"
    <% if @mi_attempt.mutagenesis_factor.blank? %>style="display: none;"<% end %>>
    <legend>Genotype Primers</legend>
    <div>
      <table id="genotype_primers_<%= builder.object_id %>_table" class="report_table">
        <thead class="title">
          <tr>
            <th>Name</th>
            <th>Sequence</th>
            <th>Coordinate Start</th>
            <th>Coordinate End</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="distribution_centres">
          <tr></tr>
          <%= builder.fields_for :genotype_primers do |builder2| %>
            <%= render '/shared/genotype_primer_fields', f: builder2 %>
          <% end %>
        </tbody>
      </table>
      <% if @mi_attempt.mutagenesis_factor.blank? %>
        <% @mi_attempt.mutagenesis_factor = MutagenesisFactor.new %>
      <% end %>
      <%= link_to_add_fields "Add Genotype Primer", builder, :genotype_primers %>
    </div>
  </fieldset>
<% end %>

<% if current_user.admin? and mi_attempt.status_stamps and mi_attempt.mi_plan and mi_attempt.mi_plan.status_stamps %>
  <%= render 'status_change_history', :mi_attempt => mi_attempt %>
<% end %>

<div class="object-crispr">
  <fieldset class="collapsible">
    <legend>Crispr Injection Details</legend>
    <div>
      <%= generator.number_field :crsp_total_embryos_injected, {:label => 'Number of Embryos Injected'}%>
      <%= generator.number_field :crsp_total_embryos_survived, {:label => 'Number of Embryos Survived'} %>
      <%= generator.number_field :crsp_total_transfered, {:label => 'Number Transfered'} %>
    </div>
  </fieldset>
</div>


<div class="object-crispr">
  <fieldset class="collapsible">
    <legend>Founder Litter Details</legend>
    <div>
      <%= generator.number_field :crsp_no_founder_pups, {:label => 'Number of Founder Pups Born'} %></br>
      <%= form.label :assay_type%>
      <%= form.select :assay_type, MiAttempt::CRISPR_ASSAY_TYPES, :include_blank => true %>
      <%= generator.number_field :founder_num_assays, {:label => 'Number of Founders Assayed'} %>
      <%= generator.number_field :founder_num_positive_results, {:label => 'Number of Founders with confirmed mutation'} %>
      <%= generator.number_field :crsp_total_num_mutant_founders, {:label => 'Number of Mutant Founders'} %>
      <%= generator.number_field :crsp_num_founders_selected_for_breading, {:label => 'Number of Founders Selected For Breading'} %>
    </div>
  </fieldset>
</div>

<div class="object-crispr">
  <fieldset class="collapsible">
    <legend>F1 Colonies</legend>
    <div>
      <% if mi_attempt.status_stamps.map{|status| status.code}.include?('fod')%>
        <table id="colonies_<%= form.object_id %>_table" class="report_table">
          <thead class="title">
            <tr>
              <th>Colony Name</th>
              <th>Colony Details</th>
              <th>Report To Public?</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="distribution_centres">
          <tr></tr>
          <% if mi_attempt.colonies.length > 0 %>
            <%= form.fields_for :colonies do |builder| %>
              <% if !builder.object.new_record? %>
              <%= render '/shared/colony_fields', f: builder %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        </table>
        <%= link_to_add_fields "Add Colony", form, :colonies %>
      <% else %>
      No Colonies can be set until Status is Founders Obtained.
      <% end %>
    </div>
  </fieldset>
</div>

<div class="object-es-cell">
  <fieldset class="collapsible">
    <legend>Transfer Details</legend>
    <div>
      <%= if !@mi_attempt.es_cell_id.blank? then generator.strains_field :blast_strain end %>
      <%= generator.number_field :total_blasts_injected %>
      <%= generator.number_field :total_transferred %>
      <%= generator.number_field :number_surrogates_receiving %>
    </div>
  </fieldset>
</div>

<div class="object-es-cell">
  <fieldset class="collapsible">
    <legend>Litter Details</legend>
    <div>
      <%= generator.number_field :total_pups_born %>
      <%= generator.number_field :total_female_chimeras %>
      <%= generator.number_field :total_male_chimeras %>
      <%= generator.number_field :number_of_males_with_0_to_39_percent_chimerism,   :label => 'Number of Males with 0-39% Chimerism' %>
      <%= generator.number_field :number_of_males_with_40_to_79_percent_chimerism,  :label => 'Number of Males with 40-79% Chimerism' %>
      <%= generator.number_field :number_of_males_with_80_to_99_percent_chimerism,  :label => 'Number of Males with 80-99% Chimerism' %>
      <%= generator.number_field :number_of_males_with_100_percent_chimerism,       :label => 'Number of Males with 100% Chimerism' %>
    </div>
  </fieldset>
</div>

<div class="object-es-cell">
  <fieldset class="collapsible">
    <legend>Chimera Mating Details</legend>
    <div>
      <%= generator.strains_field :colony_background_strain %>
      <%= generator.strains_field :test_cross_strain %>
      <%= generator.text_field :date_chimeras_mated, :class => 'date-field' %>
      <%= generator.number_field :number_of_chimera_matings_attempted %>
      <%= generator.number_field :number_of_chimera_matings_successful %>
      <%= generator.number_field :number_of_chimeras_with_glt_from_cct %>
      <%= generator.number_field :number_of_chimeras_with_glt_from_genotyping %>
      <%= generator.number_field :number_of_chimeras_with_0_to_9_percent_glt,   :label => 'Number of Chimeras with 0-9% GLT' %>
      <%= generator.number_field :number_of_chimeras_with_10_to_49_percent_glt, :label => 'Number of Chimeras with 10-49% GLT' %>
      <%= generator.number_field :number_of_chimeras_with_50_to_99_percent_glt, :label => 'Number of Chimeras with 50-99% GLT' %>
      <%= generator.number_field :number_of_chimeras_with_100_percent_glt,      :label => 'Number of Chimeras with 100% GLT' %>
      <%= generator.number_field :total_f1_mice_from_matings %>
      <%= generator.number_field :number_of_cct_offspring %>
      <%= generator.text_field :cassette_transmission_verified, :label => 'Cassette Transmission Verified', :class => 'date-field' %>
      <%= generator.number_field :number_of_het_offspring %>
      <%= generator.number_field :number_of_live_glt_offspring %>
      <%= generator.mouse_allele_type_field %>
    </div>
  </fieldset>
</div>


<% if !@mi_attempt.new_record? && !@mi_attempt.es_cell.blank?%>
<div class="object-es-cell">
  <fieldset class="collapsible" id="distribution_centres">
    <legend>Distribution Centres</legend>
      <div class="distribution_centres">
      <% if ['gtc', 'chr'].include?(mi_attempt.status.try(:code)) %>
        <table id="distribution_centres_<%= form.object_id %>_table" class="report_table">
          <thead class="title">
            <tr>
              <th>Distribution centre</th>
              <th>Distribution network?</th>
              <th>Deposited material</th>
              <th>Distribution dates</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="distribution_centres">
          <tr></tr>
          <% if mi_attempt.distribution_centres.length > 0 %>
            <%= form.fields_for :distribution_centres do |builder| %>
              <%= render '/shared/distribution_centre_fields', f: builder %>
            <% end %>
          <% end %>
        </tbody>
        </table>
        <%= link_to_add_fields "Add Distribution Centre", form, :distribution_centres %>
      <% else %>
      No Distribution Centres can be set until Status is Genotype confirmed.
      <% end %>
      </div>
  </fieldset>
</div>

<div class="object-es-cell">
  <fieldset class="collapsible">
    <legend>QC Diagram</legend>
    <div>
      <div id='qcimage'>

        <h2>Mouse Genotyping QC</h2>

        <div class="diagram">
          <div id='holder_mutant' class='holder'></div>
          <h3>Mutant</h3>
        </div>

        <div class="diagram">
          <div id='holder_wildtype' class='holder'></div>
          <h3>Wild Type</h3>
        </div>

      </div>
    </div>
  </fieldset>


  <fieldset class="collapsible hide-by-default qc-details">
    <legend>QC Details</legend>
    <div>
      <%= generator.qc_fields %>
    </div>
  </fieldset>
</div>

<% end %>

<% if current_user.admin? and mi_attempt.status_stamps and mi_attempt.mi_plan and mi_attempt.mi_plan.status_stamps %>
  <%= render 'status_change_history', :mi_attempt => mi_attempt %>
<% end %>


<fieldset class="collapsible">
  <legend>Other</legend>
    <div>
    <% [:experimental, :report_to_public, :is_active, :is_released_from_genotyping].each do |field| %>
      <div>
        <%= form.label field, field.to_s.titlecase %>
        <%= form.check_box field %>
      </div>
    <% end %>

    <div>
      <label>Genotyping Comment</label>
      <%= form.text_area :genotyping_comment, :disabled => true %>
    </div>
  </div>
</fieldset>