<% @tab = 'Search & Edit' %>

<% content_for :head do %>
  <%= javascript_tag "MI_ATTEMPT_EMMA_OPTIONS = #{MiAttempt::EMMA_OPTIONS.to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_QC_OPTIONS = #{QcResult.all.map(&:description).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_CENTRE_OPTIONS = #{Centre.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_DEPOSITED_MATERIAL_OPTIONS = #{DepositedMaterial.all.map(&:name).to_json}" %>
  <%= javascript_include_tag 'mi_attempts/index' %>
<% end %>

<%= form_tag mi_attempts_path, :method => :get, :id => 'mi-search-form' do %>
  <fieldset class="collapsible">
    <legend>Search for Micro-Injections</legend>
    <div>
      <div class="grid_6 alpha">
        <label for="search_terms">ES Cell Name, Gene Symbol, or Colony Name:</label>
        <textarea cols="10" rows="10" name="search_terms" id="search-terms" class="initial-focus"><%= @search_params[:search_terms].join "\n" %></textarea>
      </div>
      <div class="grid_6 omega">
        <table>
          <tr>
            <td><label for="production_centre_id">Production Centre:</label></td>
            <td><%= select_tag 'production_centre_id', options_from_collection_for_select([Centre.new]+Centre.all, :id, :name, @search_params[:production_centre_id]) %></td>
          </tr>
          <tr>
            <td><label for="mi_attempt_status_id">Status:</label></td>
            <td><%= select_tag 'mi_attempt_status_id', options_from_collection_for_select([MiAttemptStatus.new]+MiAttemptStatus.all, :id, :description, @search_params[:mi_attempt_status_id]) %></td>
          </tr>
        </table>
      </div>
      <div id="buttons" class="grid_12">
        <input id="submit" type="submit" value="Search" />
        &ensp;|&ensp;<a id="clear-search-terms-button">Clear</a>
      </div>
    </div>
  </fieldset>
<% end %>

<div class="clear"></div>

<div id="mi-attempts-grid"></div>
