<% @tab = 'Mouse Production' %>

<% content_for :pre_js_footer do %>
  <%= javascript_tag "MI_ATTEMPT_QC_OPTIONS = #{QcResult.all.map(&:description).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_CONSORTIUM_OPTIONS = #{Consortium.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_CENTRE_OPTIONS = #{Centre.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_DEPOSITED_MATERIAL_OPTIONS = #{DepositedMaterial.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_STRAIN_OPTIONS = #{Strain.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_STATUS_OPTIONS = #{MiAttempt::Status.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_MOUSE_ALLELE_TYPE_OPTIONS = #{MiAttempt::MOUSE_ALLELE_OPTIONS.map{|k,v|[k, v]}.to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_SEARCH_PARAMS = #{params[:q].to_json}" %>
<% end %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag 'mi_attempts/index' %>
  <%= javascript_tag "FULL_ACCESS = #{@access}" %>
<% end %>

<%= form_tag "mi_attempts", :method => :get, :id => 'mi-search-form' do %>
  <fieldset class="collapsible">
    <legend>Search for Mouse Production</legend>
    <div>
      <div class="grid_6 alpha">
        <label for="q[terms]">ES Cell Name, Gene Symbol, or Colony Name:</label>
        <textarea cols="10" rows="10" name="q[terms]" id="search-terms" class="initial-focus"><%= params[:q][:terms] %></textarea>
      </div>
      <div class="grid_6 omega">
        <table>
          <tr>
            <td><label for="q[production_centre_name]">Production Centre:</label></td>
            <td><%= select_tag 'q[production_centre_name]', options_for_select(['']+@centres.map(&:name), params[:q][:production_centre_name]) %></td>
          </tr>
          <tr>
            <td><label for="q[status_name]">Status:</label></td>
            <td><%= select_tag 'q[status_name]', options_for_select(['']+MiAttempt::Status.all.map(&:name), params[:q][:status_name]) %></td>
          </tr>
        </table>
      </div>
      <div id="buttons" class="grid_12">
        <input id="submit" type="submit" value="Search" />
        &ensp;|&ensp;<a id="clear-search-terms-button">Clear</a>
      </div>
    </div>
  </fieldset>

  <% if ! current_user %>
  <fieldset class="collapsible">
    <legend>Description of table</legend>
    <div>

      <!--TODO: create a class for the paragraph-->
      <p style='line-height:180%'>Each row of this table shows summary production statistics for a single IMPC mouse line</p>

      <p style='line-height:180%'><strong>Show in form:</strong> show mouse line and details in single web page</p>
      <p style='line-height:180%'><strong>Active phenotype:</strong> Number of cre excision and phenotype projects on this mouse line</p>
      <p style='line-height:180%'><strong>Consortium:</strong> IMPC consortium reposnsible for mousr production or phenotyping</p>
      <p style='line-height:180%'><strong>Production Centre:</strong> the centre at which mouse production is conducted</p>
      <p style='line-height:180%'><strong>ES Cell:</strong> the name of the ES cell clone used in mouse production</p>
      <p style='line-height:180%'><strong>Marker symbol:</strong> marker symbol of MGI locus.</p>
      <p style='line-height:180%'><strong>Allele symbol:</strong> MGI allele symbol.</p>
      <p style='line-height:180%'><strong>Status:</strong> status of the mouse production attempt</p>
      <p style='line-height:180%'><strong>Colony name:</strong> the unique name of the mouse line</p>
      <p style='line-height:180%'><strong>Distribution centre(s):</strong> the centre(s) nominated to distribute genotype confirmed mice</p>
    </div>
  </fieldset>
  <% end %>

  <% end %>

<div class="clear"></div>

<div id="mi-attempts-grid"></div>
