<% @tab = 'Mouse Production' %>

<% content_for :pre_js_footer do %>
  <%= javascript_tag "MI_ATTEMPT_EMMA_OPTIONS = #{MiAttempt::EMMA_OPTIONS.to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_QC_OPTIONS = #{QcResult.all.map(&:description).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_CONSORTIUM_OPTIONS = #{Consortium.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_CENTRE_OPTIONS = #{Centre.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_DEPOSITED_MATERIAL_OPTIONS = #{DepositedMaterial.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_STRAIN_OPTIONS = #{Strain.all.map(&:name).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_STATUS_OPTIONS = #{MiAttemptStatus.all.map(&:description).to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_MOUSE_ALLELE_TYPE_OPTIONS = #{MiAttempt::MOUSE_ALLELE_OPTIONS.map{|k,v|[k, v]}.to_json}" %>
  <%= javascript_tag "MI_ATTEMPT_SEARCH_PARAMS = #{params[:q].to_json}" %>
<% end %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag 'mi_attempts/index' %>
<% end %>

<%= form_tag mi_attempts_path, :method => :get, :id => 'mi-search-form' do %>
  <fieldset class="collapsible">
    <legend>Search for Micro-Injections</legend>
    <div>
      <div class="grid_6 alpha">
        <label for="q[terms]">ES Cell Name, Gene Symbol, or Colony Name:</label>
        <textarea cols="10" rows="10" name="q[terms]" id="search-terms" class="initial-focus"><%= params[:q][:terms] %></textarea>
      </div>
      <div class="grid_6 omega">
        <table>
          <tr>
            <td><label for="q[production_centre_name]">Production Centre:</label></td>
            <td><%= select_tag 'q[production_centre_name]', options_for_select(['']+@centres.map(&:name), params[:q][:production_centre_name]) %></td>
          </tr>
          <tr>
            <td><label for="q[status]">Status:</label></td>
            <td><%= select_tag 'q[status]', options_for_select(['']+MiAttemptStatus.all.map(&:description), params[:q][:status]) %></td>
          </tr>
        </table>
      </div>
      <div id="buttons" class="grid_12">
        <input id="submit" type="submit" value="Search" />
        &ensp;|&ensp;<a id="clear-search-terms-button">Clear</a>
      </div>
    </div>
  </fieldset>
<% end %>

<div class="clear"></div>

<div id="mi-attempts-grid"></div>
