<% @tab = 'Create' %>

<% content_for :head do %>
  <%= javascript_include_tag('mi_attempts/shared') %>
  <%= javascript_include_tag('mi_attempts/new') %>
  <%= javascript_tag "martSearchClonesPath = '#{mart_search_clones_path}.json';" %>
<% end %>

<div>
  <%= form_tag nil, :class => 'new mi-attempt' do %>
    <fieldset>
      <legend>ES cell clone details</legend>

      <div id="clone-selector"></div>
    </fieldset>
  <% end %>
</div>

<div>
  <%= form_for @mi_attempt, :html => {:class => 'new mi-attempt'} do |form| %>

    <div id="rest-of-form">
      <div><%= form.hidden_field 'clone_name' %></div>
      <%= render 'form_contents', :form => form %>
    </div>
  <% end %>
</div>
