<% @tab = 'Create MI Attempt' %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag('mi_attempts/shared') %>
  <%= javascript_include_tag('mi_attempts/new') %>
  <%= javascript_include_tag('mi_attempts/show') %>
  <%= javascript_tag "NUCLEASES_OPTIONS = #{MutagenesisFactor::NUCLEASES.map{|nuc| nuc.blank? ? '' : nuc}.to_json}" %>
<% end %>

<% if !@mi_attempt.warnings.blank? %>
  <% content_for :messages do %>
    <%= render_message :warning, nil, :id => 'warnings' do %>
      <p>WARNING</p>
      <ul id="warnings">
        <%= @mi_attempt.warnings.map { |w| content_tag 'li', w }.join("\n").html_safe %>
      </ul>
      <p>Do you wish to continue?</p>
      <button id="ignore-warnings">Ignore and continue</button>
    <% end %>
  <% end %>
<% end %>


<div id="object-new-top" class="grid_8 prefix_2 suffix_2">
<!-- Display logic for javascript -->
    <fieldset class="collapsible">
      <legend>Injection Details</legend>
      <div>
        <% if @strategy == 'crispr'%>
          <div id="mutagenesis-factor-selector"></div>
        <% else %>
          <div id="es-cell-selector"></div>
        <% end %>
      </div>
    </fieldset>
</div>

<div id="object-new-bottom" class="grid_8 prefix_2 suffix_2">
  <%= form_for @mi_attempt, :as => :mi_attempt, :html => {'onsubmit' => 'return false;'} do |form| %>
    <%= form.error_messages %>

    <fieldset class="collapsible">
      <legend>MI Plan Details</legend>
      <div>
        <div id="mi_plan_preious_selection" class="grid_12 alpha omega">
          <div class="grid_3">
            <div class="marker_symbols">
              <div class="label">Marker Symbols</div>
              <div><%= @mi_attempt.marker_symbols.to_sentence %></div>
              <div id="marker_symbol" style=display:none;><%= @mi_attempt.marker_symbol %></div>
            </div>
          </div>
          <div class="grid_3">
            <div class="consortium-name">
              <div class="label">Consortium</div>
              <div><%= @mi_attempt.consortium_name %></div>
            </div>
          </div>
          <div class="grid_3">
            <div class="production-centre-name">
              <div class="label">Production Centre</div>
              <div><%= @mi_attempt.production_centre_name %></div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="collapsible">
      <legend>Injection Details</legend>
      <div>
        <div id="es-cell-details"></div>
      </div>
    </fieldset>

    <div id="rest-of-form">
      <%= render 'form_contents', :form => form %>
      <div>
         <button id="mi_attempt_submit">Create</button>
      </div>
    </div>
  <% end %>
</div>
