<% @tab = 'Create' %>

<% content_for :head do %>
  <%= javascript_include_tag('mi_attempts/shared') %>
  <%= javascript_include_tag('mi_attempts/new') %>
<% end %>

<div class="grid_8 prefix_2 suffix_2">
  <%= form_tag nil do %>
    <fieldset class="collapsible">
      <legend>ES Cell Details</legend>
      <div>
        <div id="es-cell-selector"></div>
      </div>
    </fieldset>
  <% end %>
</div>

<div class="grid_8 prefix_2 suffix_2">
  <%= form_for @mi_attempt, :html => {'onsubmit' => 'return false;'} do |form| %>
    <div id="rest-of-form">
      <%= form.hidden_field 'es_cell_name' %>
      <%= form.hidden_field 'es_cell_marker_symbol' %>
      <%= render 'form_contents', :form => form %>

        <div>
          <button id="mi_attempt_submit">Create</button>
        </div>
    </div>
  <% end %>
</div>
