<% @tab = 'Create MI Attempt' %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag('mi_attempts/shared') %>
  <%= javascript_include_tag('mi_attempts/new') %>
<% end %>

<% if !@mi_attempt.warnings.blank? %>
  <% content_for :messages do %>
    <%= render_message :warning, nil, :id => 'warnings' do %>
      <p>WARNING</p>
      <ul id="warnings">
        <%= @mi_attempt.warnings.map { |w| content_tag 'li', w }.join("\n").html_safe %>
      </ul>
      <p>Do you wish to continue?</p>
      <button id="ignore-warnings">Ignore and continue</button>
    <% end %>
  <% end %>
<% end %>

<div id="object-new-top" class="grid_8 prefix_2 suffix_2">
  <%= form_tag nil do %>
    <fieldset class="collapsible">
      <legend>ES Cell Details</legend>
      <div>
        <div id="es-cell-selector"></div>
      </div>
    </fieldset>
  <% end %>
</div>

<div id="object-new-bottom" class="grid_8 prefix_2 suffix_2">
  <%= form_for @mi_attempt, :as => :mi_attempt, :html => {'onsubmit' => 'return false;'} do |form| %>
    <%= form.error_messages %>

    <div id="rest-of-form">
      <%= form.hidden_field 'es_cell_name' %>
      <%= form.hidden_field 'es_cell_marker_symbol' %>

      <fieldset class="collapsible">
        <legend>Mi-Plan Details</legend>
          <div id="mi_plan_list"></div>
          <div id="create_plan"><a id="create_plan_link" href=" <%= url_for(:controller => :mi_plans, :action => :gene_selection) %>">Create new miplan</a></div>
      </fieldset>

      <%= form.hidden_field 'mi_plan_id' %>
      <%= render 'form_contents', :form => form %>

      <div>
        <button id="mi_attempt_submit">Create</button>
      </div>
    </div>
  <% end %>
</div>
