<% @title = 'Edit' %>

<% content_for :head do %>
  <%= javascript_include_tag('mi_attempts/shared') %>
<% end %>

<div class="grid_8 prefix_2 suffix_2">
  <%= form_for @mi_attempt, :html => {:class => 'edit show mi-attempt'} do |form| %>
    <fieldset class="collapsible">
      <legend>ES Cell Details</legend>
      <div>
        <div class="marker-symbol">
          <div class="label">Marker Symbol</div>
          <div><%= @mi_attempt.es_cell.marker_symbol %></div>
        </div>

        <div class="es-cell-name">
          <div class="label">ES Cell Name</div>
          <div><%= @mi_attempt.es_cell.name %></div>
        </div>
      </div>
    </fieldset>

    <%= render 'form_contents', :form => form %>

    <div>
      <%= form.submit 'Update', :class => 'disable-on-submit' %>
    </div>

<% end %>
</div>
