<% @title = 'Edit MI Attempt' %>

<% content_for :head do %>
  <%= javascript_include_tag('mi_attempts/shared') %>
<% end %>

<div>
  <%= form_for @mi_attempt, :html => {:class => 'edit show mi-attempt'} do |form| %>
    <fieldset>
      <legend>ES cell clone details</legend>

      <div class="marker-symbol">
        <div class="label">Marker symbol</div>
        <div><%= @mi_attempt.clone.marker_symbol %></div>
      </div>

      <div class="clone-name">
        <div class="label">ES cell clone name</div>
        <div><%= @mi_attempt.clone.clone_name %></div>
      </div>
    </fieldset>

    <%= render 'form_contents', :form => form, :submit_text => 'Update' %>
<% end %>
</div>
