<% @title = 'Edit' %>

<% content_for :head do %>
  <%= javascript_include_tag('mi_attempts/shared') %>
<% end %>

<div class="grid_8 prefix_2 suffix_2">
  <%= form_for @mi_attempt, :html => {:class => 'edit show mi-attempt'} do |form| %>
    <fieldset>
      <legend>ES Cell Clone Details</legend>

      <div class="marker-symbol">
        <div class="label">Marker Symbol</div>
        <div><%= @mi_attempt.clone.marker_symbol %></div>
      </div>

      <div class="clone-name">
        <div class="label">ES Cell Clone Name</div>
        <div><%= @mi_attempt.clone.clone_name %></div>
      </div>
    </fieldset>

    <%= render 'form_contents', :form => form, :submit_text => 'Update' %>
<% end %>
</div>
