  <tr>
    <td><%= quality_overview_grouping.consortium %></td>
    <td><%= quality_overview_grouping.production_centre %></td>
    <td><%= quality_overview_grouping.number_of_genotype_confirmed_colonies %></td>
    <td><%= quality_overview_grouping.colonies_with_overall_pass %></td>
    <td><%= quality_overview_grouping.percentage_pass %></td>
    <td><%= quality_overview_grouping.confirm_locus_targeted_total %></td>
    <td><%= quality_overview_grouping.confirm_structure_targeted_allele_total %></td>
    <td><%= quality_overview_grouping.confirm_downstream_lox_p_site_total %></td>
    <td><%= quality_overview_grouping.confirm_no_additional_vector_insertions_total %></td>
  </tr>
