<!--TODO: put this somewhere sensible-->

<style>
  .bundle {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: Courier, "Lucida Console", monospace ;
    font-size: large;
}
</style>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag '/genoverse/js/genoverse.combined.js', :recursive => true %>
  <%= javascript_include_tag 'genoverse_tracks/genoverse_custom_tracks' %>
  <%= javascript_include_tag 'genoverse_tracks/mutagenesis_tracks' %>
<% end %>

<h1><%= @title %></h1>
<br />

<% if @colony then %>
  <% chr_num               = @colony.mi_attempt.mi_plan.gene.chr %>
  <% chr_strand            = @colony.mi_attempt.mi_plan.gene.strand_name %>
  <% mutagenesis_factor_id = @colony.mi_attempt.mutagenesis_factor_id %>
  <% seq_start = @colony.mi_attempt.mi_plan.gene.start_coordinates %>
  <% seq_end   = @colony.mi_attempt.mi_plan.gene.end_coordinates %>


  <% url_prefix = '' %>
  <% if !Rails.env.development? %>
    <% url_prefix = '/imits' %>
  <% end %>
  <script type="text/javascript">
    var chr_num                   = '<%= chr_num %>';
    var seq_start                 = <%= seq_start %>;
    var seq_end                   = <%= seq_end %>;
    var design_track_url          = '<%= MutagenesisFactor.design_track_url(mutagenesis_factor_id)%>';
    var mutant_sequence_track_url = '<%= Colony.mut_sequences_track_url(@colony.id) %>';
  </script>

  <div id="object-new-top" class="grid_12">
    <fieldset class="collapsible">
      <legend>Allele Description</legend>
      <div>
        <p><%= @colony.alleles.first.auto_allele_description %></p>
      </div></br>
    </fieldset>
  </div>

  <div id="object-new-top" class="grid_12">
    <fieldset class="collapsible">
      <legend>Genoverse Interface</legend>
      <div>
        <div id="genoverse"></div>
        <p><strong>Zoom:</strong> use "+" and "-" buttons. <strong>Move:</strong> drag or scroll with the mouse. <strong>Select region:</strong> hold shift key and drag with the mouse.</p>
        <br />
      </div>
    </fieldset>
  </div>

  <div id="object-new-top" class="grid_12">
    <fieldset class="collapsible">
      <legend>Download Evidence</legend>
      <div>
        <ul>
          <li>Trace Files: <%= link_to 'files', Colony.trace_file_url(@colony.id) %></li>
          <li>Mutant Sequence: <%= link_to 'file', Colony.mutant_sequence_url(@colony.id) %></li>
          <li>Sequence Alignment: <%= link_to 'files', Colony.alignment_url(@colony.id) %></li>
          <li>Variant Call: <%= link_to 'file', Colony.vcf_url(@colony.id) %></li>
        </ul>
      </div>
    </fieldset>
  </div>
<% end %>


