
<!--TODO: put this somewhere sensible-->

<style>
  .bundle {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: Courier, "Lucida Console", monospace ;
    font-size: large;
}
</style>



<% content_for :post_js_footer do %>
  <%= javascript_include_tag 'colony/show' %>
  <%= javascript_include_tag 'alignment_highlighting' %>
<% end %>


<% if ! @ok || @files.empty? || @files.keys.length < 1 %>

<h1><%= @title %></h1>
<h4>Not Found!</h4>

<% else %>

<h1><%= @title %></h1>



<% @files.keys.each do |key| %>

<% if @files[key][:name] && @files[key][:show] && @files[key][:data] %>



<h2 style="text-align:left;float:left;"><%= @files[key][:name] %></h2>&nbsp;&nbsp;
  <a href="<%= "#{root_path}colony/show/#{@id}/#{key}" %>">Download</a> &nbsp;&nbsp; <a data-name="<%= "#{key}" %>" class="toggle" href="<%= "#" %>">View</a>
<hr style="clear:both;"/>




<div id="<%= "#{key}" %>" style="display:none">

  <% if @files[key][:data].class.name == "Array"%>

    <% i = 0 %>
    <% @files[key][:data].each do |line| %>
      <h4><b><%=@files[key][:titles][i] %></b></h4>
      <div class="bundle" id="<%= @files[key][:ids][i] %>"><%= line %></div><br/>
      <% i += 1 %>
    <% end %>

  <% else %>
  <pre class="bundle">
    <div <%= if @files[key].has_key?(:id) then "id = #{@files[key][:id]}" else "" end%>><%= @files[key][:data] %></div>
  </pre>
  <% end %>



</div>

<% end %>

<% end %>


<% if ! @insertions.empty? %>
  <h2>Insertions</h2>
  <% @insertions.each do |i| %>
  <p><%= i %></p>
<% end %>
<% else %>
    <h2>Insertions</h2>
<p>None</p>
<% end %>

<hr style="clear:both;"/>
<%#= debug @deletions %>

<% if ! @deletions.empty? %>
  <h2>Deletions</h2>
  <% @deletions.each do |d| %>
  <p><%= d %></p>
  <% end %>
<% else %>
    <h2>Deletions</h2>
<p>None</p>
<% end %>




<% end %>


<% if @debug %>
<%= debug @colony %>
<% end %>
