<h1><%= @title = @report_data.class.report_title%></h1></br>
<table class="report_table">
<thead>
<tr><th width="250">Status</th><th>Description</th></tr>
</thead>
<tbody>
<tr><td><strong>All Genes</strong></td><td>Unique genes targeted by Consortium</td></tr>
<tr>
  <td><strong>ES Cell QC</strong></td>
  <td><strong>Cumulative!</strong>Genes where we see <em>any</em> ES QC activity, in progess, successful or aborted</td></tr>
<tr>
  <td><strong>ES QC Confirmed</strong></td>
  <td>Genes where QC ES Cell clone(s) have been thawed and QC passed.</td>
</tr>
<tr>
  <td><strong>ES QC Failed</strong></td>
  <td>
    Genes where <em>no</em> more attempts will be made to thaw existing ES Cell clones for this gene.
  </td>
</tr>
<tr>
  <td><strong>Microinjections</strong></td>
  <td><strong>Cumulative!</strong> Number of Genes with any mouse production activity, In Progess, Chimeric, Genotype Confirmed or Aborted</td>
</tr>
<tr>
  <td><strong>Genotype Confirmed Mice</strong></td>
  <td>Number of Genes where iMits has at least one 'Chimera with GC offspring' or 'Het offspring' recorded.</td>
</tr>
</tbody>
</table>
</br>

<table class="report_table">
<thead>
<tr><th width="250">Status</th><th>Description</th></tr>
</thead>
<tbody>
<tr>
  <td  VALIGN="top"><strong>Intent to Phenotype</strong></td>
  <td><strong>Cumulative!</strong> Number of Genes where Genotype Confirmed Mice have been Registered for Phenotyping by <em>this</em> Consortium / Production Centre <br/>(Mice may be drawn from <em>other</em> consortia)</td>
</tr>
<tr>
  <td><strong>Cre excision complete</strong></td>
  <td>Genes where exposure to Cre recombinase has been successful</td>
</tr>
<tr>
  <td><strong>Phenotype complete</strong></td>
  <td>Phenotyping <strong>data</strong> has finished flowing to the KOMP2 DCC (MPI2) - currently accessible via machine interface only</td>
</tr>
</tbody>
</table>
</br></br>

<% n = 0 %>
<% @report_data.graph.each do |consortium, data| %>
<%params.delete(:action)
  params.delete(:controller)
  params.delete(:script_name)
  params.delete(:format) %>
<table>
  <tr>
    <td width = "550">
      <div class="report_chunky">
      <dl>
      <h1><%= consortium%></h1></br>
      <pre><%=
      link_to('Download as CSV', url_for({:action => controller.action_name, :controller => '/reports/mi_production', :format => :csv, :consortium => consortium}.merge(params)))%>    <%=link_to('Download MI image', url_for({:action => 'impc_graph_report_download_image', :controller => '/reports/mi_production', :consortium => consortium.downcase, :goal => 'mi'}.merge(params))) %>    <%= link_to('Download GC image', url_for({:action => 'impc_graph_report_download_image', :controller => '/reports/mi_production', :consortium => consortium.downcase, :goal => 'gc'}.merge(params)))
      %></pre>
      <dt><table height = "670" width = "450">
        <tr>
          <th>Status</th>
          <th>Total Current</th>
          <th>Last Complete Month</th>
        </tr>
        <tr>
          <td>All genes</td>
          <td><%= data['tabulate'][0]['assigned_genes']%></td>
          <td><%= data['tabulate'][1]['assigned_genes']%></td>
        </tr>
        <tr>
          <td>ES Cell QC</td>
          <td><%= data['tabulate'][0]['es_qc']%></td>
          <td><%= data['tabulate'][1]['es_qc']%></td>
        </tr>
        <tr>
          <td>ES QC Confirmed</td>
          <td><%= data['tabulate'][0]['es_qc_confirmed']%></td>
          <td><%= data['tabulate'][1]['es_qc_confirmed']%></td>
        </tr>
        <tr>
          <td>ES QC Failed</td>
          <td><%= data['tabulate'][0]['es_qc_failed']%></td>
          <td><%= data['tabulate'][1]['es_qc_failed']%></td>
        </tr>
        <tr>
          <td>Microinjections</td>
          <td><%= data['tabulate'][0]['mouse_production']%></td>
          <td><%= data['tabulate'][1]['mouse_production']%></td>
        </tr>
        <tr>
          <td>Genotype Confirmed Mice</td>
          <td><%= data['tabulate'][0]['confirmaed_mice']%></td>
          <td><%= data['tabulate'][1]['confirmaed_mice']%></td>
        </tr>
        <tr>
          <td>Intent to Phenotype</td>
          <td><%= data['tabulate'][0]['intent_to_phenotype']%></td>
          <td><%= data['tabulate'][1]['intent_to_phenotype']%></td>
        </tr>
        <tr>
          <td>Cre Excision Complete</td>
          <td><%= data['tabulate'][0]['cre_excision_complete']%></td>
          <td><%= data['tabulate'][1]['cre_excision_complete']%></td>
        </tr>
        <tr>
          <td>Phenotyping Complete</td>
          <td><%= data['tabulate'][0]['phenotyping_complete']%></td>
          <td><%= data['tabulate'][1]['phenotyping_complete']%></td>
        </tr>
      </table></dt></dl></div>
    </td>
    <td width = "20"><pre>                 </pre></td>
    <td width = "2000"></br>
      <dl>
        <dt><%= image_tag( url_for({:action => 'impc_graph_report_display_image', :controller => '/reports/mi_production', :consortium => consortium.downcase, :goal => 'mi'}.merge(params)), :height => '380', :width => @report_data.size[n])%></dt>
        </br>
        <dt><%= image_tag( url_for({:action => 'impc_graph_report_display_image', :controller => '/reports/mi_production', :consortium => consortium.downcase, :goal => 'gc'}.merge(params)), :height => '380', :width => @report_data.size[n]) %></dt>
      </dl>
    </td>
  </tr>
</table>
</br></br></br></br>
<% n += 1%>
<% end %>
