<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    Dear colleague,
    </p>
    <p>
    Thank you for registering for gene <%= @gene.marker_symbol %>
    </p>
    <%= registration_text_selection(@gene.relevant_status) %>
    <p>
    This gene currently <%= @modifier_string %> assigned for mouse production and phenotyping as part of the IMPC initiative.
    </p>
    <% if @modifier_string == "is" %>
    <ul>
      <li>- <%= @gene.conditional_es_cells_count || "0" %> conditional ES cells</li>
      <li>- <%= @gene.non_conditional_es_cells_count || "0" %> non-conditional ES cells</li>
      <li>- <%= @gene.deletion_es_cells_count || "0" %> deletions</li>
    </ul>
    <% end %>
    <p>
    Further details of these alleles can be found here: www.knockoutmouse.org/search_results?criteria=<%= @gene.mgi_accession_id %>
    </p>
    <p>
    Updates on gene status will be sent to <%= @contact.email %>.
    </p>

    <p>
    For further information / enquiries please write to  info@mousephenotype.org
    </p>
    <p>
    Best Regards,
    </p>
    <p>
      The MPI2 (KOMP2) informatics consortium.
    </p>
  </body>
</html>
