<fieldset class="static">
  <legend>Notification</legend>
    <div class="welcome-email-sent">
      <%= label_tag :welcome_email_sent %>
      <%= notification.welcome_email_sent %>
    </div>
    <div class="last-email-sent">
      <%= label_tag :last_email_sent %>
      <%= notification.last_email_sent %>
    </div>
    <div class="created_at">
      <%= label_tag :created_at %>
      <%= notification.created_at %>
    </div>
</fieldset>
