<% content_for :post_js_footer do %>
  <%= javascript_include_tag('contacts/shared') %>
<% end %>
<div id="contact-show-bottom" class="grid_8 prefix_2 suffix_2">
  <div>
    <%= render 'genes/gene', :gene => @gene %>
    <%= render 'contacts/contact', :contact => @contact %>
  </div>

  <%= form_for @notification do |form| %>
  <%= form.hidden_field :gene_id, :value => @gene.id %>
<%= form.hidden_field :contact_id, :value => @contact.id %>
    <button id="notification_submit">Register</button>
  <% end %>
</div>
