<% pipeline_list = TargRep::Pipeline.find(:all, :order => "name").collect {|p| [ p.name, p.id ] } %>

<tr class="es_cell">
  <td>
    <%= f.hidden_field :nested %>
    <%= f.select :pipeline_id, pipeline_list.unshift(['',nil]) %>
  </td>
  <td><%= f.text_field :name %></td>
  <td><%= f.text_field :targeting_vector_name %></td>
  <td><%= f.text_field :mgi_allele_id %></td>
  <td><%= f.text_field :mgi_allele_symbol_superscript %></td>
  <td><%= f.text_field :parental_cell_line %></td>
  <td><%= f.text_field :ikmc_project_id %></td>
  <td><%= f.check_box :report_to_public %></td>
  <td><a href="#" class="es_cell_qc_toggle ss_sprite ss_magnifier">show/hide QC metrics</a></td>
  <td><%= link_to 'Remove', '', :class => "es_cell_delete_row #{f.object.new_record? ? '' : 'hard'}" %></td>
</tr>
<tr class="es_cell_qc" style="display:none;">
  <td colspan="10">
    <%= render :partial => 'targ_rep/alleles/es_cell_qc_form', :locals => { :f => f } %>
  </td>
</tr>