<% unless f.error_messages.empty? %>
  <div class="error grid_12">
    <%= f.error_messages %>
  </div>
<% end %>

<div <% if gene_trap? or @allele.class.targeted_allele?%> class="grid_6" <% else %> class="grid_12"<%end %> >
  <p>
    <%= label_tag :gene_marker_symbol, "Gene Filter" %><br />
    <%= text_field_tag "gene_marker_symbol", (@allele.marker_symbol if @allele.gene), :class => :title, :autocomplete => "off" %>
    <%= f.hidden_field :gene_id %>
  </p>
  <%= hidden_field_tag "allele_type", @allele_type %>
  <ul id="gene_autocomplete">
  </ul>
</div>

<% if gene_trap? or @allele.class.targeted_allele?%>
  <div class="grid_6">
    <p>
      <%= f.label :project_design_id, "Project Design ID" %><br />
      <%= f.text_field :project_design_id, :class => :title %>
    </p>
  </div>
<% end %>

<div class="grid_6">
  <fieldset>
    <legend>Genomic Position</legend>
    <% if gene_trap? %>
      <p>
        <%= f.label :intron %><br />
        <%= f.text_field :intron, :class => 'text short' %>
      </p>
    <% end %>
    <p>
      <%= f.label :chromosome %><br />
      <% chromosomes = ('1'..'19').to_a.push('X').push('Y').push('MT').unshift('') %>
      <%= f.select :chromosome, chromosomes %>
    </p>
    <p>
      <%= f.label :strand %><br />
      <%= f.select :strand, ['','+','-'] %>
    </p>
    <p>
      <%= f.label :assembly, "Assembly" %><br />
      <%= f.text_field :assembly, :class => :text %>
    </p>
  </fieldset>

  <fieldset>
    <legend>Design Details</legend>
    <p>
      <%= f.label :mutation_method_id, "Mutation Method" %><br />
      <% if gene_trap? %>
        <%= f.text_field :mutation_method_id, :value => 'Gene Trap', :disabled => true, :class => :text  %>
      <% elsif @allele.class.hdr_allele? or @allele.class.crispr_targeted_allele? or @allele.class.nhej_allele? %>
        <%= f.text_field :mutation_method_id, :value => 'Targeted Mutation', :disabled => true, :class => :text  %>
      <% else %>
        <%= f.collection_select :mutation_method_id, @mutation_method, :id, :name, :include_blank => true  %>
      <% end %>
    </p>
    <p>
      <%= f.label :mutation_type_id, "Mutation Type" %><br />
      <% if gene_trap? %>
        <%= f.text_field :mutation_type_id, :value => 'Gene Trap', :disabled => true, :class => :text  %>
      <% elsif @allele.class.hdr_allele? %>
        <%= f.text_field :mutation_method_id, :value => 'Point Mutation', :disabled => true, :class => :text  %>
      <% elsif @allele.class.nhej_allele? %>
        <%= f.text_field :mutation_method_id, :value => 'Deletion', :disabled => true, :class => :text  %>
      <% else %>
        <%= f.collection_select :mutation_type_id, @mutation_type, :id, :name, :include_blank => true  %>
      <% end %>
    </p>
    <p>
      <%= f.label :mutation_subtype_id, "Mutation Subtype" %><br />
      <% if @allele.class.hdr_allele? %>
        <%= f.text_field :mutation_method_id, :value => 'Point Mutation', :disabled => true, :class => :text  %>
      <% elsif @allele.class.nhej_allele? %>
        <%= f.text_field :mutation_method_id, :value => 'Domain Disruption', :disabled => true, :class => :text  %>
      <% else%>
        <%= f.collection_select :mutation_subtype_id, @mutation_subtype, :id, :name, :include_blank => true %>
      <% end %>
    </p>
    <p>
      <%= f.label :subtype_description, "Subtype Description" %><br />
      <%= f.text_field :subtype_description, :class => :text %>
    </p>
    <% if @allele.class.hdr_allele? or @allele.class.crispr_targeted_allele? %>
      <p>
        <%= f.label :backbone %><br />
        <%= f.text_field :backbone, :class => :text %>
      </p>
    <% end %>
    <% unless @allele.class.hdr_allele? %>
    <p>
      <%= f.label :cassette %><br />
      <%= f.text_field :cassette, :class => :text %>
    </p>
    <p>
      <%= f.label :cassette_type %><br />
      <%= f.select :cassette_type, ['','Promotorless', 'Promotor Driven'] %>
    </p>
    <% unless gene_trap? or @allele.class.crispr_targeted_allele?%>
      <p>
        <%= f.label :backbone %><br />
        <%= f.text_field :backbone, :class => :text %>
      </p>
      <p>
        <%= f.label :floxed_start_exon, "First Floxed Exon" %><br />
        <%= f.text_field :floxed_start_exon, :class => :text %>
      </p>
      <p>
        <%= f.label :floxed_end_exon, "Last Floxed Exon" %><br />
        <%= f.text_field :floxed_end_exon, :class => :text %>
      </p>
    <% end %>
    <% end %>
  </fieldset>
</div>

<% unless @allele.class.hdr_allele? or @allele.class.crispr_targeted_allele? %>
<div class="grid_6">
  <fieldset>
    <legend>Molecular Co-Ordinates</legend>
    <% unless gene_trap? %>
      <p>
        <%= f.label :homology_arm_start, "Homology Arm Start" %><br />
        <%= f.text_field :homology_arm_start, :class => :text %>
      </p>
      <p>
        <%= f.label :homology_arm_end, "Homology Arm End" %><br />
        <%= f.text_field :homology_arm_end, :class => :text %>
      </p>
    <% end %>
      <p>
        <%= f.label :cassette_start, "Cassette Start" %><br />
        <%= f.text_field :cassette_start, :class => :text %>
      </p>
      <p>
        <%= f.label :cassette_end, "Cassette End" %><br />
        <%= f.text_field :cassette_end, :class => :text %>
      </p>
      <% unless gene_trap? %>
        <p>
          <%= f.label :loxp_start, "LoxP Start" %><br />
          <%= f.text_field :loxp_start, :class => :text %>
        </p>
        <p>
          <%= f.label :loxp_end, "LoxP End" %><br />
          <%= f.text_field :loxp_end, :class => :text %>
        </p>
      <% end %>
  </fieldset>

  <fieldset>
    <legend>Allele Issues</legend>
    <p>
      <%= f.label :has_issue, "Allele has issue(s)" %><br />
      <%= f.select :has_issue, [ 'true', 'false' ] %>
    </p>
    <p>
      <%= f.label :issue_description, "Issue description" %><br />
      <%= f.text_area :issue_description, :class => :text_area %>
    </p>
  </fieldset>
</div>
<% end %>

<% if @allele.class.hdr_allele?%>
  <div class="grid_6">
  <fieldset>
  <legend>Oligos Details</legend>
    <p>
      <%= f.label :sequence, "Sequence" %><br />
      <%= f.text_area :sequence, :class => :oligos %>
    </p>

    <p>
      <%= f.label :wildtype_oligos_sequence, "Wild Type Sequence" %><br />
      <%= f.text_area :wildtype_oligos_sequence, :class => :oligos %>
    </p>
    <div><button type="button" id="generate_annotations">Generate / Regenerate Annotations</button></div>
    <div style="clear:both"></div>
    <div id="alignment_image"></div>
    <div class="annotations">
      <table id="allele_sequence_annotations_table" class="list" style="width:400px">
        <thead>
          <tr>
            <th>Type</th>
            <th>Comment</th>
            <th>Oligos Coordinate</th>
            <th>Mutation Length</th>
            <th>Mutation</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="annotations_body">
          <tr></tr>
          <%= f.fields_for :allele_sequence_annotations do |annotations_form| %>
            <%= render :partial => '/shared/allele_sequence_annotation_fields', :locals => { :f => annotations_form } %>
          <% end -%>
        </tbody>
      </table>
      <%= link_to_add_fields "Add Annotation", f, :allele_sequence_annotations, {:id => "annotation_add_link"} %>
    </div>
  </fieldset>
  </div>
<% end %>

<% unless @allele.class.hdr_allele? %>
  <div class="grid_12">
    <fieldset>
      <legend>Genbank files Details</legend>
      <!-- Genbank files handling. -->
      <% unless gene_trap? %>
        <div class="grid_6">
          <label>Targeting Vectors Genbank File</label><br />
          <%= f.text_area :vector_genbank_file_text, :class => :text %>
        </div>
      <% end %>
      <%unless @allele.class.crispr_targeted_allele? %>
        <div class="grid_6">
          <label>ES Cell Clones Genbank File</label><br />
          <%= f.text_area :allele_genbank_file_text, :class => :text %>
        </div>
      <% end %>
    </fieldset>
  </div>
<% end %>

<% unless gene_trap? %>
  <div class="grid_12 clear"></div>

  <!-- Targeting vectors handling. -->

  <div class="grid_12">
    <h3>Targeting Vectors</h3>
    <table class="list">
      <thead>
        <% if !@allele.class.hdr_allele?%>
        <tr>
          <th>Pipeline</th>
          <th>IKMC Project ID</th>
          <th>Targeting Vector</th>
          <th>Intermediate Vector</th>
          <th>Report to Public</th>
          <th></th>
        </tr>
        <% else %>
        <tr>
          <th>Targeting Vector</th>
          <th>Report to Public</th>
          <th></th>
        </tr>
        <% end %>
      </thead>
      <tbody id="targeting_vectors">
        <% if !@allele.new_record? %>
          <%= f.fields_for :targeting_vectors do |targ_vec_form| %>
            <%= render :partial => 'targ_rep/alleles/targ_vec_form', :locals => { :f => targ_vec_form } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <p><%= add_targ_vec_link(f) %></p>
  </div>
<% end %>

<div class="grid_12 clear"></div>

<!-- ES Cells handling. -->

<% unless @allele.class.hdr_allele? or @allele.class.crispr_targeted_allele? %>
  <div class="grid_12">
    <h3>ES Cells</h3>
    <table class="list">
      <thead>
        <tr>
          <th>Pipeline</th>
          <th>ES Cell</th>
          <th>Targeting Vector</th>
          <th>MGI Allele ID</th>
          <th>Allele Symbol Superscript</th>
          <th>Parental Cell Line</th>
          <th>IKMC Project ID</th>
          <th>Report to Public</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="es_cells">
        <% if !@allele.new_record? %>
          <%= f.fields_for :es_cells do |es_cell_form| %>
            <%= render :partial => 'targ_rep/alleles/es_cell_form', :locals => { :f => es_cell_form } %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <p><%= add_es_cell_link(f) %></p>
  </div>
<% end %>