<%
  if gene_trap?
    pipelines = TargRep::Pipeline.gene_trap
  else
    pipelines = TargRep::Pipeline.targeted
  end

  pipeline_array       = pipelines.map { |pipeline| [pipeline.name, pipeline.id.to_s] }
  tv_pipeline_options  = options_for_select [['All','']] + pipeline_array, params[:targeting_vectors_pipeline_id_eq]
  esc_pipeline_options = options_for_select [['All','']] + pipeline_array, params[:es_cells_pipeline_id_eq]

  cassette_array = @klass.order('cassette asc').pluck('cassette').uniq.map do |cassette|
    [cassette, cassette]
  end
  cassette_options = options_for_select [['All','']] + cassette_array, params[:cassette_eq]

  unless @gene_trap
    backbone_array = @klass.uniq.select('backbone, mutation_type_id').map do |allele|
      [allele.backbone, allele.backbone] unless allele.backbone.blank?
    end
    backbone_options = options_for_select [['All','']] + backbone_array, params[:backbone_eq]
  end
%>

<%= form_tag (gene_trap? ? [:targ_rep, :gene_traps] : [:targ_rep, :targeted_alleles]), :method => 'get', :id => 'search_form' do %>
  <table class="no-border">
    <tr>
      <td><%= label_tag :gene_marker_symbol_cont, "Marker Symbol" %>:</td>
      <td><%= text_field_tag :gene_marker_symbol_cont, params[:gene_marker_symbol_cont] %></td>
      <td><%= label_tag :gene_mgi_accession_id_eq, "MGI Acc. ID" %>:</td>
      <td><%= text_field_tag :gene_mgi_accession_id_eq, params[:gene_mgi_accession_id_eq] %></td>
      <td><%= label_tag :project_design_id_eq, "Project Design ID" %>:</td>
      <td><%= text_field_tag :project_design_id_eq, params[:project_design_id_eq] %></td>
    </tr>
  
    <tr>
      <% unless gene_trap? %>
        <td><%= label_tag :targeting_vectors_pipeline_id_eq, 'TV Pipeline' %>:</td>
        <td><%= select_tag :targeting_vectors_pipeline_id_eq, tv_pipeline_options %></td>
      <% end %>
      <td><%= label_tag :es_cells_pipeline_id_eq, 'ESC Pipeline' %>:</td>
      <td><%= select_tag :es_cells_pipeline_id_eq, esc_pipeline_options %></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <% unless gene_trap? %>
        <td><%= label_tag :mutation_type_id_eq, "Mutation Type" %>:</td>
        <td><%= select_tag :mutation_type_id_eq, options_for_select([['All','']] + TargRep::MutationType.all.collect{ |u| [u.name, u.id]}, params[:mutation_type_id_eq])  %></td>
      <% end %>
      <td><%= label_tag :cassette_eq, 'Cassette' %>:</td>
      <td><%= select_tag :cassette_eq, cassette_options %></td>
      <% unless gene_trap? %>
        <td><%= label_tag :backbone_eq, 'Backbone' %>:</td>
        <td><%= select_tag :backbone_eq, backbone_options %></td>
      <% end %>
    </tr>

    <tr>
      <td colspan="4">
        <button type="submit" class="button">
          <%= image_tag "targ_rep/led-icons/find.png", :alt => "" %> Search
        </button>
      </td>
    </tr>
  </table>
<% end %>