<table class="es_cell_qc_info">
  <caption>Production Centre Screen</caption>
  <tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :production_qc_five_prime_screen } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :production_qc_loxp_screen } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :production_qc_three_prime_screen } %>
  </tr>
  <tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :production_qc_loss_of_allele } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :production_qc_vector_integrity } %>
    <td colspan="2"></td>
  </tr>
</table>

<% es_cell.distribution_qcs.each do |distribution_qc| %>
    <%= render :partial => 'show_distribution_centre_qc', :locals => { :distribution_qc => distribution_qc, :readonly => true } %>
<% end %>

<table class="es_cell_qc_info">
  <caption>User/Mouse Clinic QC</caption>
  <tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_mouse_clinic_name } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_southern_blot } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_map_test } %>
  </tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_karyotype } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_karyotype_spread } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_karyotype_pcr } %>
  <tr>
  </tr>
  <tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_tv_backbone_assay } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_loss_of_wt_allele } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_five_prime_cassette_integrity } %>
  </tr>
  <tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_neo_count_qpcr } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_neo_sr_pcr } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_mutant_specific_sr_pcr } %>
  </tr>
  <tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_lacz_sr_pcr } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_lacz_qpcr } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_chry } %>
  </tr>
  <tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_chr1 } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_chr8 } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_chr11 } %>
  </tr>
  <tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_loxp_confirmation } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_loxp_srpcr_and_sequencing } %>
    <td colspan="4"></td>
  </tr>
  <tr>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_three_prime_lr_pcr } %>
    <%= render :partial => 'show_es_cells_qc_field', :locals => { :es_cell => es_cell, :symbol => :user_qc_five_prime_lr_pcr } %>
    <td colspan="4"></td>
  </tr>
  <tr>
    <th colspan="6" style="text-align:left;">Comments</th>
  </tr>
  <tr>
    <td colspan="6"><%= print_dash_on_empty es_cell.user_qc_comment %></td>
  </tr>
</table>
