<div class="grid_12">
  <h2>History of Changes for Allele ID <%=h @allele.id %></h2>
</div>

<div class="grid_12">
  <%= link_to "back to allele page", targ_rep_allele_path(@allele), :class => "ss_sprite ss_magnifier" %>
</div>

<div class="grid_12">
  <table class="list">
    <thead>
      <th>Version</th>
      <th>Date</th>
      <th>Action</th>
      <th colspan="2">Changes</th>
    </thead>
    <tbody>
      <% @allele.audits.each do |revision| %>
        <tr>
          <td><%=h revision.version %></td>
          <td><%=h revision.created_at.to_s(:long) %></td>
          <td>
          <% if revision.action == "create" %>
            Creation of the object
          <% else %>
            Update of the object
          <% end %>
          </td>
          <td>
            <table>
              <% revision.audited_changes.keys.each do |key| %>
                <tr>
                  <td class="key" style="width:150px"><%= key %></td>
                  <td>
                    <% if revision.audited_changes[key].is_a?(Array)
                         val = revision.audited_changes[key]
                         vals = "'#{val[0] ||= 'null'}' => '#{val[1]}'"
                       end
                    %>
                    <%= vals %>
                  </td>
                </tr>
              <% end%>
            </table>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
