<% @tab = 'Alleles' if @title == 'Targeted Allele' %>
<% @tab = 'Traps' if @title == 'Gene Trap Allele' %>
<% @tab = 'Targeted' if @title == 'Crispr Targeted Allele' %>
<% @tab = 'HDR' if @title == 'HDR Allele' %>
<% @tab = 'NHEJ' if @title == 'NHEJ Allele' %>
<div class="grid_12">
  <h2><%= @title %></h2>
</div>

<div id="search_box" class="grid_12">
  <h2>Search for <%= @title %></h2>
  <%= render :partial => 'search_form' %>
</div>

<div class="grid_12">
  <%= will_paginate @alleles %>
  <table class="list">
    <thead>
      <tr>
        <th>Pipeline(s)</th>
        <th>MGI Accession ID</th>
        <th>Marker Symbol</th>
        <th>Mutation Type</th>
        <th>Cassette</th>
        <th>Backbone</th>
        <% unless gene_trap? %>
          <th>Vectors</th>
        <% end %>
        <th>ES Cells</th>
        <th>Targeted Trap</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @alleles.each do |allele| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= allele.pipeline_names %></td>
          <td><%= allele.mgi_accession_id %></td>
          <td><%= allele.gene.marker_symbol %></td>
          <td><%= allele.mutation_type.name %></td>
          <td><%= allele.cassette %></td>
          <td><%= allele.backbone %></td>
          <% unless gene_trap? %>
            <td>
              <% if allele.targeting_vectors.size > 0 %>
                <span class="ss_sprite ss_tick">&nbsp;</span>
              <% else %>
                <span class="ss_sprite ss_cross">&nbsp;</span>
              <% end %>
            </td>
          <% end %>
          <td>
            <% if allele.es_cells.size > 0 %>
              <span class="ss_sprite ss_tick">&nbsp;</span>
            <% else %>
              <span class="ss_sprite ss_cross">&nbsp;</span>
            <% end %>
          </td>
          <td><%= allele.targeted_trap? %></td>
          <td>
            <%= link_to 'view', allele, :class => "ss_sprite ss_magnifier" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @alleles %>
</div>
