<%= javascript_include_tag 'targ_rep/smith_walterman_aligner' %>
<%= javascript_include_tag 'targ_rep/display_alignment_with_highlighting' %>

<div class="grid_12">
  <h2><% if !@allele.gene.marker_symbol.blank? %>Marker Symbol: <%= @allele.gene.marker_symbol %> | <% end%><%= @allele.mgi_accession_id %><% if !@allele.project_design_id.blank? %> | Project Design ID: <%= @allele.project_design_id %> <% end%></h2>
  <a href= <%= "#{root_path}/targ_rep/alleles/#{@allele.id}/history" %> >History</a>
</div>


<div class="grid_6">
  <fieldset>
    <legend>Genomic Position</legend>
    <p><strong>Assembly:</strong> <%= @allele.assembly %></p>
    <p><strong>Chromosome:</strong> <%= @allele.chromosome %></p>
    <p><strong>Strand</strong> <%= @allele.strand %></p>
  </fieldset>

  <fieldset>
    <legend>Mutation Details</legend>
    <p><strong>Mutation method:</strong> <%= @allele.mutation_method.name %></p>
    <p><strong>Mutation type:</strong> <%= @allele.mutation_type.name %></p>
    <p>
      <strong>Mutation subtype:</strong> <%= @allele.mutation_subtype_name %><br />
      <em><%= @allele.subtype_description %></em>
    </p>
    <% if @allele.class.hdr_allele?%><p><strong>Backbone:</strong> <%= @allele.backbone %></p><% end %>
    <% unless @allele.class.nhej_allele? or @allele.class.hdr_allele?%>
      <p><strong>Cassette:</strong> <%= @allele.cassette %></p>
      <p><strong>Cassette Type:</strong> <%= @allele.cassette_type %></p>
      <% unless gene_trap? %>
        <p><strong>Backbone:</strong> <%= @allele.backbone %></p>
        <% unless @allele.floxed_start_exon.nil? and @allele.floxed_end_exon.nil?%>
          <% if @allele.floxed_start_exon == @allele.floxed_end_exon%>
            <p><strong>Floxed Exon:</strong> <%= @allele.floxed_start_exon %></p>
          <% else %>
            <p><strong>First Floxed Exon:</strong> <%= @allele.floxed_start_exon %></p>
            <p><strong>Last Floxed Exon:</strong> <%= @allele.floxed_end_exon %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </fieldset>
</div>

<div class="grid_6">
  <% unless  @allele.class.nhej_allele? %>
    <fieldset>
      <legend>Molecular Co-Ordinates</legend>
      <table class="list">
        <thead>
          <th>Feature</th>
          <th>Start</th>
          <th>End</th>
        </thead>
        <tbody>
          <% unless gene_trap? %>
            <tr>
             <td>Homology Arm</td>
             <td><%= @allele.homology_arm_start %></td>
              <td><%= @allele.homology_arm_end %></td>
            </tr>
          <% end %>
          <% unless @allele.class.hdr_allele? %>
            <tr class="even">
              <td>Cassette</td>
              <td><%= @allele.cassette_start %></td>
              <td><%= @allele.cassette_end %></td>
            </tr>
            <% unless gene_trap? %>
              <tr>
                <td>LoxP</td>
                <td><%= @allele.loxp_start %></td>
                <td><%= @allele.loxp_end %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </fieldset>
  <% end %>
  <fieldset id="genbank_files">
    <legend>Genbank Files <% if !@allele.class.hdr_allele? and !@allele.class.nhej_allele?%>/ Images<% end %></legend>
    <% if !gene_trap? and !@allele.class.nhej_allele? and ! @allele.class.hdr_allele?%>
      <p>
        <strong>Targeting Vector Genbank File: </strong>
        <% unless @allele.vector_genbank_file_text.nil? %>
          <a href="<%= targ_rep_targeting_vector_genbank_file_url(:id => @allele.id) %>" target="_blank" class="ss_sprite ss_magnifier">view</a>
          <% unless @allele.class.hdr_allele? %><a href="<%= targ_rep_vector_image_url(:id => @allele.id) %>" target="_blank" class="ss_sprite ss_image">vector_image</a><% end %>
        <% else %>
          <em>not available</em>
        <% end %>
      </p>
    <% end %>
    <% if !@allele.class.hdr_allele? and !@allele.class.nhej_allele? and !@allele.class.crispr_targeted_allele?%>
      <p>
        <strong>ES Cell Clone / Allele Genbank File: </strong>
        <% unless @allele.allele_genbank_file_text.nil? %>
          <a href="<%= targ_rep_escell_clone_genbank_file_url(:id => @allele.id) %>" target="_blank" class="ss_sprite ss_magnifier">view</a>
          <a href="<%= targ_rep_allele_image_url(:id => @allele.id) %>" target="_blank" class="ss_sprite ss_image">allele_image</a>
          <a href="<%= targ_rep_cassette_image_url(:id => @allele.id) %>" target="_blank" class="ss_sprite ss_image">cassette_image</a>
          <a href="<%= targ_rep_allele_image_url(:id => @allele.id) %>?simple=true" target="_blank" class="ss_sprite ss_image">simple_image</a>
        <% else %>
          <em>not available</em>
        <% end %>
      </p>
    <% end %>
  </fieldset>

  <% if @allele.class.nhej_allele?%>
    <fieldset>
    <legend>Sequence Annotation</legend>
    <table>
      <thead>
        <tr>
          <th>Start Coord</th>
          <th>End Coord</th>
          <th>Expected</th>
          <th>Actual</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    </fieldset>
  <% end %>
</div>

<% if @allele.class.hdr_allele?%>
<div class="grid_12">
  <fieldset>
    <legend>Oligos Details</legend>
    <div class="grid_6">
      <legend>Sequence</legend>
      <p id="targ_rep_hdr_allele_sequence" style="font-family:Courier" data-value="<%= @allele.sequence unless @allele.sequence.blank? %>">
        <% unless @allele.sequence.blank? %>
          <% @allele.sequence.scan(/.{0,50}/).each do |line|%>
            <%= line %></br>
          <% end %>
        <% end %>
      </p>
      <legend>Wildtype Oligos Sequence</legend>
      <p id="targ_rep_hdr_allele_wildtype_oligos_sequence" style="font-family:Courier" data-value="<%= @allele.wildtype_oligos_sequence unless @allele.wildtype_oligos_sequence.blank? %>">
        <% unless @allele.wildtype_oligos_sequence.blank? %>
          <% @allele.wildtype_oligos_sequence.scan(/.{0,50}/).each do |line|%>
            <%= line %></br>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="grid_6">
    <legend>Sequence Annotation</legend>
    <div id="alignment_image"></div>
    <table id="allele_sequence_annotations_table">
      <thead>
        <tr>
            <th>Type</th>
            <th>Comment</th>
            <th>Oligos Coordinate</th>
            <th>Mutation Length</th>
            <th>Mutation</th>
        </tr>
      </thead>
        <tbody id="annotations_body">
          <% @allele.allele_sequence_annotations.each do |annotation| %>
            <tr>
              <td class="annotation_mutation_type" data-value=<%="#{annotation.mutation_type}"%> ><%= annotation.mutation_type %></td>
              <td class="annotation_comment" data-value=<%="#{annotation.comment}"%> ><%= annotation.comment %></td>
              <td><div class="annotation_oligos_start_coordinate" data-value=<%="#{annotation.oligos_start_coordinate}"%> >Start: <%= annotation.oligos_start_coordinate %></div>
                  <div class="annotation_oligos_end_coordinate" data-value=<%="#{annotation.oligos_end_coordinate}"%> >End:   <%= annotation.oligos_end_coordinate %></div></td>
              <td class="annotation_length" data-value=<%="#{annotation.mutation_length}"%> ><%= annotation.mutation_length %></td>
              <td><div class="annotation_expected" data-value=<%="#{annotation.expected}"%> >Expected: <%= annotation.expected %></div>
                  <div class="annotation_actual" data-value=<%="#{annotation.actual}"%> >Actual:   <%= annotation.actual %></div></td>
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>
  </fieldset>


  <fieldset id="allele_issues">
    <legend>Allele Issues</legend>
    <p><strong>Are there any issues with this allele? : </strong>
    <% if @allele.has_issue %>
      <font color="red"><b>Yes</b></font></p>
      <p><strong>Issue description:</strong> <%= @allele.issue_description %></p>
    <% else %>
      None reported</p>
    <% end %>

  </fieldset>
</div>
<% end %>

<% unless gene_trap? or @allele.class.nhej_allele?%>
  <div class="grid_12">
    <fieldset>
      <legend>Targeting Vectors</legend>
      <%= render :partial => 'show_targeting_vectors' %>
    </fieldset>
  </div>
<% end %>

<% unless @allele.class.nhej_allele? or @allele.class.hdr_allele? or @allele.class.crispr_targeted_allele?%>
  <div class="grid_12">
    <fieldset>
      <legend>ES Cells</legend>
      <%= render :partial => 'show_es_cells' %>
    </fieldset>
  </div>
<% end %>

<div class="grid_12">
<% if current_user and !@allele.class.nhej_allele? %>
  
<% end %>
        <% if @allele.class.targeted_allele? %><a href="<%= targ_rep_alleles_path %>" class="button negative"><% end %>
        <% if @allele.class.gene_trap? %><a href="<%= targ_rep_gene_traps_path %>" class="button negative"><% end %>
        <% if @allele.class.hdr_allele? %><a href="<%= targ_rep_hdr_alleles_path %>" class="button negative"><% end %>
        <% if @allele.class.crispr_targeted_allele? %><a href="<%= targ_rep_crispr_targeted_alleles_path %>" class="button negative"><% end %>
        <% if @allele.class.nhej_allele? %><a href="<%= targ_rep_nhej_alleles_path %>" class="button negative"><% end %>
    <%= image_tag "targ_rep/led-icons/cross.png", :alt => "" %> Back
  </a>
</div>

