<% @title = 'Password reset' %>

<div class="user-form grid_4 prefix_4 suffix_4">
  <%= form_tag :password_reset do %>

    <fieldset>
      <legend><%= @title %></legend>

      <table>
        <tr>
          <td>
            <%= label_tag :email %>
            <%= text_field_tag :email, '', :class => 'initial-focus' %>
          </td>
        </tr>
      </table>

      <div class="submit">
        <%= submit_tag "Reset my password" %>
      </div>
    </fieldset>
  <% end %>
</div>
