<% generator = MiAttemptFieldGenerator.new(f) %>
<% colony = f.object%>
<% mi_attempt = f.object.mi_attempt%>
<% if colony.alleles.blank? %>
  <% a = colony.alleles.build %>
<% end %>

  <tr>
    <td style="text-align: left;vertical-align: top;">
      <div style="padding:30px 0px 0px 0px ; width:110px">
        <%= f.text_field :name, :size=>'15' %>
      </div>

      <% if mi_attempt.es_cell_name.blank?%>
        <% if f.object.new_record? %>
          <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
          <%= link_to "remove", '#', class: "remove-row" %>
        <% else %>
          <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
          <%= link_to "remove", '#', class: "hide-row" %>
        <% end %>
      <% end %>
    </td>
    <td style="text-align: left;vertical-align: top">
      <div style="padding:0px 10px 0px 10px">
        <fieldset class="collapsible">
          <legend>Colony Status</legend>
          <div>
            <% if mi_attempt.es_cell_id.blank? %>
              <%= generator.check_box :genotype_confirmed, :label => 'Genotype Confirmed? '%>
            <% end %>
            <%= generator.strains_field :background_strain %>
            <%= generator.check_box :report_to_public, :label => 'Report Mouse Strain To Public' %>
            <% if mi_attempt.production_centre_name == 'WTSI' %>
              <%= generator.check_box :is_released_from_genotyping, :label => 'Is Released From Genotyping' %>
            <% end %>
            <div>
              <label>Genotyping Comment</label>
              <%= f.text_area :genotyping_comment%>
            </div>
          </div>
        </fieldset>
      </div>

      <div style="padding:0px 10px 0px 10px">
        <fieldset class="collapsible">
          <legend>Allele</legend>
          <div>
              <% if mi_attempt.es_cell_name.blank?%>
                <div class="trace-files" style="padding:0px 10px 0px 10px;">
                  <fieldset class="collapsible" id="distribution_centres">
                  <legend>Upload Sequence Files</legend>
                    <div class="trace-file-container">
                      <table id="trace_files_<%= f.object_id %>_table" class="report_table">
                      <thead class="title">
                        <tr>
                          <th>File Name</th>
                          <th>Trace Details</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody class="distribution_centres">
                        <tr></tr>
                        <% if colony.trace_files.length > 0 %>
                          <%= f.fields_for :trace_files do |builder| %>
                            <%= render '/shared/trace_file_fields', f: builder %>
                          <% end %>
                        <% end %>
                      </tbody>
                      </table>
                      <%= link_to_add_fields "Add Trace File", f, :trace_files %>
                    </div>
                  </fieldset>
                </div>
              <% end %>

              <%= f.fields_for :alleles do |allele_builder| %>
                <% alelle_generator = AlleleFieldGenerator.new(allele_builder) %>

                <fieldset class="collapsible">
                  <legend>Allele Characterization</legend>                
                  <%= alelle_generator.mouse_allele_type_field %>

                <% if mi_attempt.es_cell.blank?%> 
                  <%= alelle_generator.mouse_allele_subtype_field %>
                  <%= alelle_generator.check_box :contains_lacZ, :label => 'Allele contains LacZ?' %>
                  <%= alelle_generator.text_area :mutant_fa, :label => 'Mutant Nucleotide Sequence (FASTA format; >100 bp flanking regions)' %>
                  <%= alelle_generator.text_area :allele_description %>
                </fieldset>

                  <fieldset class="collapsible">
                    <legend>MGI Allele</legend>
                    <div class="mgi_allele_symbol_fields container_12">
                      <div  class="grid_2" ><%= alelle_generator.check_box :mgi_allele_symbol_without_impc_abbreviation, :label => "Exclude '(IMPC)' Abbreviation?", 'class' => 'without_impc_abbreviation'%></div>
                      <div  class="grid_3" ><%= alelle_generator.text_field :mgi_allele_symbol_superscript, 'class' => 'mgi_allele_symbol_superscript' %></div>
                      <div  class="grid_7" ></br><button class="mgi_auto_suggest" type="button">Suggest MGI Allele Symbol Superscript</button></div>
                    </div>
                  </fieldset>
                <% else %>
                </fieldset>
                <% end %>
              
          </div>


      
          <div style="padding:0px 10px 0px 10px">
            <fieldset class="collapsible" >
    
                    <legend>Genotyping QC</legend>
                    <div>
                      <%= allele_builder.fields_for :production_centre_qc do |builder| %>
                        <div >
                          <fieldset class="collapsible">
                            <legend>QC Diagram</legend>
                            <div>
                              <div id='<%="qcimage-colony-#{f.index}-allele-#{allele_builder.index}" %>' class='qcimage' data-colonyindex = <%= f.index %> data-alleleindex = <%= allele_builder.index %>>
                      
                                <h2>Mouse Genotyping QC</h2>
                      
                                <div class="diagram">
                                <div id='holder_mutant_colony_<%= f.index %>_allele_<%= allele_builder.index %>' class='holder'></div>
                                  <h3>Mutant</h3>
                                </div>
                      
                                <div class="diagram">
                                  <div id='holder_wildtype_colony_<%= f.index %>_allele_<%= allele_builder.index %>' class='holder'></div>
                                  <h3>Wild Type</h3>
                                </div>
                      
                              </div>
                            </div>
                          </fieldset>
                        </div>
        
                    <div class="hidden">
                      <div class="qc-details" data-colonyindex = <%= f.index %> data-alleleindex = <%= allele_builder.index %> >
                        <!-- Stores QC results to be read into QC diagram. Allows Diagram to be switch between different version without lossing values.-->
                        <% qc_generator = QcFieldGenerator.new(builder) %>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_southern_blot" data_value="<%= allele_builder.object.production_centre_qc.southern_blot %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_five_prime_lr_pcr" data_value="<%= allele_builder.object.production_centre_qc.five_prime_lr_pcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_five_prime_cassette_integrity" data_value="<%= allele_builder.object.production_centre_qc.five_prime_cassette_integrity %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_tv_backbone_assay" data_value="<%= allele_builder.object.production_centre_qc.tv_backbone_assay %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_neo_count_qpcr" data_value="<%= allele_builder.object.production_centre_qc.neo_count_qpcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_lacz_count_qpcr" data_value="<%= allele_builder.object.production_centre_qc.lacz_count_qpcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_neo_sr_pcr" data_value="<%= allele_builder.object.production_centre_qc.neo_sr_pcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_loa_qpcr" data_value="<%= allele_builder.object.production_centre_qc.loa_qpcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_homozygous_loa_sr_pcr" data_value="<%= allele_builder.object.production_centre_qc.homozygous_loa_sr_pcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_lacz_sr_pcr" data_value="<%= allele_builder.object.production_centre_qc.lacz_sr_pcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_mutant_specific_sr_pcr" data_value="<%= allele_builder.object.production_centre_qc.mutant_specific_sr_pcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_loxp_confirmation" data_value="<%= allele_builder.object.production_centre_qc.loxp_confirmation %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_three_prime_lr_pcr" data_value="<%= allele_builder.object.production_centre_qc.three_prime_lr_pcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_critical_region_qpcr" data_value="<%= allele_builder.object.production_centre_qc.critical_region_qpcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_loxp_srpcr" data_value="<%= allele_builder.object.production_centre_qc.loxp_srpcr %>"></div>
                        <div class="qc_data" id="qc_data_colony_<%= f.index %>_allele_<%= allele_builder.index %>_loxp_srpcr_and_sequencing" data_value="<%= allele_builder.object.production_centre_qc.loxp_srpcr_and_sequencing %>"></div>
                      </div>
                    </div>
                  <% end %>
              

              <% end %>     
              </div>
            </fieldset>
          </div>

        </fieldset>
      </div>

      <div class="distribution_centre" style="padding:0px 10px 0px 10px;">
        <fieldset class="collapsible" id="distribution_centres">
        <legend>Distribution Centres</legend>
          <div class="distribution_centres">
          <% if f.object.genotype_confirmed %>
            <table id="distribution_centres_<%= f.object_id %>_table" class="report_table">
              <thead class="title">
                <tr>
                  <th>Distribution centre</th>
                  <th>Distribution network?</th>
                  <th>Deposited material</th>
                  <th>Distribution dates</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="distribution_centres">
                <tr></tr>
                <% if f.object.distribution_centres.length > 0 %>
                  <%= f.fields_for :distribution_centres do |builder| %>
                    <% if !builder.object.new_record? %>
                      <%= render '/shared/distribution_centre_fields', f: builder %>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <%= link_to_add_fields "Add Distribution Centre", f, :distribution_centres %>
          <% else %>
            No Distribution Centres can be set until Status is Genotype confirmed.
          <% end %>
          </div>
        </fieldset>
      </div>

    </td>
  </tr>