<tr>
    <td>
        <%= f.text_field :name, :maxlength => 20, :size => 40 %>
    </td>
    <td>
        <a>QC Data (click to edit)</a>
    </td>
    <td>
        <%= f.file_field :trace_file %>
    </td>

    <td style="text-align:center">

        <% if f.object.trace_data_available %>

            <%= link_to 'view results', :controller => :colony, :action => :show, :id => f.object.id %>

        <% end %>

    </td>


    <td>
        <a>Allele</a>
    </td>
    <td>
        <% if f.object.new_record? %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "remove-row" %>
        <% else %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "hide-row" %>
        <% end %>
    </td>
</tr>

<!--http://localhost:3000/mi_attempts/11832-->