<% generator = MiAttemptFieldGenerator.new(f) %>


<tr>
  <td style="text-align: center;vertical-align: top;">
      <div style="padding:30px 0px 0px 0px ; width:110px">
          <%= f.text_field :name, :size=>'15' %>
      </div>
  </td>
  <td style="text-align: left;vertical-align: top">
      
    <div style="padding:0px 10px 0px 10px">
      <fieldset class="collapsible" id="distribution_centres">
      <legend>Allele</legend>
        <div class="allele-container">
          <table id="alleles_<%= f.object_id %>_table" class="report_table">
          <thead class="title">
            <tr>
              <th>Gene Targeted</th>
              <th>Allele Details</th>
            </tr>
          </thead>
          <tbody class="distribution_centres">
            <tr></tr>
            <% if f.object.alleles.length > 0 %>
              <%= f.fields_for :alleles do |builder| %>
                <%= render '/shared/alleles_fields', f: builder %>
              <% end %>
            <% end %>
          </tbody>
          </table>
        </div>
    </div>

    <div style="padding:0px 10px 0px 10px">
      <fieldset class="collapsible">
      <legend>Colony Status</legend>
      <div>
        <div>Genotype Confirmed? <%= f.check_box :genotype_confirmed %></div>
        
        <div id="mgi_alelel_symbol_auto_suggest"></div>
        <div><%= generator.strains_field :background_strain %></div>
        <div>Allele Description</div><div><%= f.text_area :allele_description %></div>
      </div>
      </fieldset>
    </div>

    <div class="distribution_centre" style="padding:0px 10px 0px 10px;">
      <fieldset class="collapsible" id="distribution_centres">
      <legend>Distribution Centres</legend>
        <div class="distribution_centres">
        <% if f.object.genotype_confirmed %>
          <table id="distribution_centres_<%= f.object_id %>_table" class="report_table">
          <thead class="title">
            <tr>
              <th>Distribution centre</th>
              <th>Distribution network?</th>
              <th>Deposited material</th>
              <th>Distribution dates</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="distribution_centres">
            <tr></tr>
            <% if f.object.distribution_centres.length > 0 %>
              <%= f.fields_for :distribution_centres do |builder| %>
                <% if !builder.object.new_record? %>
                  <%= render '/shared/distribution_centre_fields', f: builder %>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
          </table>
          <%= link_to_add_fields "Add Distribution Centre", f, :distribution_centres %>
        <% else %>
            No Distribution Centres can be set until Status is Genotype confirmed.
        <% end %>
        </div>
      </fieldset>
    </div>
  </td>
  <td style="text-align: center;vertical-align: top; width:50px">
      <div style="padding:30px 0px 0px 0px">
          <%= f.check_box :report_to_public %>
      </div>
  </td>
  <td style="text-align: center;vertical-align: top; padding:30px 0px 0px 0px">
      <% if f.object.new_record? %>
          <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
          <%= link_to "remove", '#', class: "remove-row" %>
      <% else %>
          <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
          <%= link_to "remove", '#', class: "hide-row" %>
      <% end %>
  </td>
</tr>