<tr>
    <td>
        <%= f.text_field :name %>
    </td>
    <td>

        <div class="colony-qc-data">

            <fieldset class="collapsible hide-by-default">
                <legend>Expand to view and edit</legend>
                <div>
                    <table>
                        <% if f.object.colony_qc.blank? %>
                            <% f.object.build_colony_qc %>
                        <% end %>
                        <%= f.fields_for :colony_qc do |builder| %>
                            <% MiAttempt::QC_FIELDS.each do |qc_field| %>
                                <tr>
                                    <td><%= builder.label(:post, qc_field) %></td>
                                    <td><%= builder.select qc_field, ['na', 'pass', 'fail'] %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </table>
                </div>
            </fieldset>
        </div>
    </td>
    <td>
        <a>Upload</a>
    </td>
    <td>
        <a>Allele</a>
    </td>
    <td>
        <%= f.check_box :genotype_confirmed %>
    </td>
    <td>
        <% if f.object.new_record? %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "remove-row" %>
        <% else %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "hide-row" %>
        <% end %>
    </td>
</tr>


