<% crispr = f.object %>

<tr>
    <td><%= crispr.sequence %><%= f.text_field :sequence, :class=> 'hidden'%></td>
    <td><%= crispr.chr %><%= f.text_field :chr, :class=> 'hidden'%></td>
    <td><%= crispr.start %><%= f.text_field :start, :class=> 'hidden'%></td>
    <td><%= crispr.end %><%= f.text_field :end, :class=> 'hidden'%></td>
</tr>
