<% crispr = f.object %>

<tr>
    <td><%= crispr.sequence %><%= f.text_field :sequence, :class=> 'hidden'%></td>
    <td><%= crispr.chr %><%= f.text_field :chr, :class=> 'hidden'%></td>
    <td><%= crispr.start %><%= f.text_field :start, :class=> 'hidden'%></td>
    <td><%= crispr.end %><%= f.text_field :end, :class=> 'hidden'%></td>
    <td><%= crispr.truncated_guide ? "Truncated to #{crispr.sequence.length}bp" : '' %><%= f.check_box :truncated_guide, :class=> 'hidden'%></td>
    <td class='grna_concentration_col <%= crispr.mutagenesis_factor.individually_set_grna_concentrations ? '' : 'hidden' %>'><div class='grna_concentration' ><%= f.text_field :grna_concentration, :onchange => 'validateFloatKeyPress(this)' %> ng/uL </div></td>
</tr>
