<% crispr = f.object %>

<tr>
    <td><%= f.text_field :name%></td>
    <td><%= f.text_field :sequence%></td>
    <td><%= f.text_field :genomic_start_coordinate%></td>
    <td><%= f.text_field :genomic_end_coordinate%></td>
    <td>
        <% if f.object.new_record? %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "remove-row" %>
        <% else %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "hide-row" %>
        <% end %>
    </td>
</tr>
