<% generator = PhenotypeAttemptFieldGenerator.new(f) %>
<tr>
    <td style="vertical-align: top;">
      <div style="padding:40px 10px 0px 10px">
        <%= f.text_field(:colony_name,:class => 'x-form-text', :size => 20) %>

        <% if f.object.new_record? %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "remove-row" %>
        <% else %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "hide-row" %>
        <% end %>
      </div>
    </td>

    <td style="vertical-align: top;">
      <div style="padding:0px 10px 0px 10px">
        <fieldset class="collapsible">
          <legend>Phenotype Cohort Breeding Details</legend>

            <div> 
                <%= f.label :phenotyping_centre_name, 'Cohort Production Centre Name' %>
                <%= f.select :cohort_production_centre_name, Centre.all.map(&:name), :include_blank => true %>
            </div>
            <div> 
                <%= f.label :phenotyping_centre_name, 'Colony Background Strain' %>
                <%= generator.strains_field_no_label :colony_background_strain %>
            </div>
            <div> 
                <%= generator.check_box :rederivation_started %>
            </div>
            <div> 
                <%= generator.check_box :rederivation_complete %>
            </div>
          </div>
        </fieldset>
      </div>

    </td>

    <td style="vertical-align: top;">
      <div style="padding:0px 10px 0px 10px">
        <fieldset class="collapsible">
          <legend>Phenotyping Assignment</legend>
          <div>

            <div> 
                <%= f.label :consortium_name, 'Consortium Name' %>
                <%= f.select :consortium_name, Consortium.all.map(&:name), :include_blank => true %>
            </div>
            <div> 
                <%= f.label :phenotyping_centre_name, 'Phenotype Center' %>
                <%= f.select :phenotyping_centre_name, Centre.all.map(&:name), :include_blank => true %>
            </div>
             <div> 
                <%= generator.check_box :is_active, :label => 'Is Active' %>
            </div>
          </div>
        </fieldset>

        <fieldset class="collapsible">
          <legend>Early Adult & Embryo Phenotyping</legend>
          <div>

            <div> 
                <%= f.label :status_name, 'Status' %>
                <%= f.object.status_name%>
            </div>
            <div> 
                <%= f.label :phenotyping_experiments_started, 'Phenotyping Experiments Started' %>
                <%= f.text_field(:phenotyping_experiments_started, :class => 'x-form-text', :size => 20, :class => 'date-field') %>
            </div>
            <div> 
                <%= generator.check_box :report_to_public, :label => 'Report Phenotype Data to Public' %>
            </div>
            <div> 
                <%= generator.check_box :do_not_count_towards_completeness, :label => 'Do Not Count Towards Completeness' %>
            </div>
          </div>
        </fieldset>

        <fieldset class="collapsible">
          <legend>Late Adult Phenotyping</legend>
          <div>

            <div> 
                <%= f.label :late_adult_status_name, 'Status' %>
                <%= f.object.late_adult_status_name%>
            </div>
            <div> 
                <%= f.label :selected_for_late_adult_phenotyping, 'Selected for Late Adult Phenotyping' %>
                <%= f.check_box :selected_for_late_adult_phenotyping %>
            </div>
            <div> 
                <%= f.label :late_adult_phenotyping_experiments_started, 'Phenotyping Experiments Started' %>
                <%= f.text_field(:late_adult_phenotyping_experiments_started, :class => 'x-form-text', :size => 20, :class => 'date-field') %>
            </div>
            <div> 
                <%= generator.check_box :late_adult_is_active , :label => 'Late Adult Phenotyping Production Is Active'%>
            </div>
            <div> 
                <%= generator.check_box :late_adult_report_to_public, :label => 'Report Phenotype Data to Public' %>
            </div>
          </div>
        </fieldset>
      </div>
    </td>
    <td style="vertical-align: top;">
      <div style="padding:30px 10px 0px 10px">
        <div class="distribution_centre" style="padding:0px 10px 0px 10px;">
          <fieldset class="collapsible" id="distribution_centres">
          <legend>Tissue Distribution</legend>
            <div class="distribution_centres">
              <table id="tissue_distribution_centres_<%= f.object_id %>_table" class="report_table">
                <thead class="title">
                  <tr>
                    <th>Tissue Deposited</th>
                    <th>Distribution Details</th>
                  </tr>
                </thead>
                <tbody class="distribution_centres">
                  <tr></tr>
                  <%= f.fields_for :tissue_distribution_centres do |builder| %>
                    <%= render '/shared/tissue_distribution_centre_fields', f: builder %>
                  <% end %>
                </tbody>
              </table>
              <%= link_to_add_fields "Add Tissue for Distribution", f, :tissue_distribution_centres %>
            </div>
          </fieldset>
        </div>
      </div>
    </td>
</tr>