<tr>
    <td><%= f.collection_select(:reagent_name, ReagentName.all, :name, :name, :include_blank => true) %></td>
    <td><%= f.text_field :concentration, :onchange => 'validateFloatKeyPress(this)' %> ng/uL</td>
    <td>
        <% if @new_object != nil %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "remove-row" %>
        <% else %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "hide-row" %>
        <% end %>
    </td>
</tr>
