<% generator = MiAttemptFieldGenerator.new(f) %>
<% trace_file = f.object %>

<tr>
  <td>
    <% if trace_file.trace_file_name.blank? %>
      <%= f.file_field :trace %></br>
    <% else %>
      <div> <%= trace_file.trace_file_name %></div>
    <% end %>
  </td>
  <td>
    <div>
      <div>Heterozygous Trace? <%= f.check_box :is_het %></div>
    </div>
  </td>
  <td>
    <% if f.object.new_record? %>
      <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
      <%= link_to "remove", '#', class: "remove-row" %>
    <% else %>
      <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
      <%= link_to "remove", '#', class: "hide-row" %>
    <% end %>
  </td>
</tr>