<tr>
    <td><%= f.select 'vector_name', options_for_select(@vector_options[:values], disabled: @vector_options[:disabled], selected: f.object.vector_name) %></td>
    <td><%= f.text_field :concentration, :onchange => 'validateFloatKeyPress(this)' %> ng/uL</td>
    <td><%= f.select :preparation , MutagenesisFactor::Vector::PREPARATION%></td>
    <td>
        <% if f.object.new_record? %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "remove-row" %>
        <% else %>
            <%= f.hidden_field :_destroy, :class => 'destroy-field' %>
            <%= link_to "remove", '#', class: "hide-row" %>
        <% end %>
    </td>
</tr>
