<fieldset>
  <div>
    <div>
      <%= form.label :status %>
      <%= form.text_field :status, :class => 'x-form-text' %>
    <div>

    <div><br />
      <%= form.label :welcome_body %>
      <%= form.text_area :welcome_body, :class => 'x-form-text' %>
    </div>

    <div><br />
      <%= form.label :update_body %>
      <%= form.text_area :update_body, :class => 'x-form-text' %>
    </div>
  </div>
</fieldset>