<% content_for :post_js_footer do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"%>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js"%>
<!--  <%= javascript_include_tag "http://mousephenotype.org/mi/impc/phenotype-archive/js/mpi2_search/all.js"%> -->
  <%= javascript_include_tag "https://raw.github.com/mpi2/mpi2_search/gene_grid_modification/all.js"%>
  <%= javascript_include_tag("mpi2Search/search") %>
<% end %>

<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css">

<div class="grid_2" id="mouse-alleles" style="display:none; padding-top:10px;padding-bottom:30px;">
  <h2>ES Cell and Mouse Alleles</h2>
  <div id="mpi2-search"></div>
</div>

<div class="grid_10" id="mpi2-allele-grid" style="display:none; padding-top:38px;padding-bottom:30px;"></div>





