<% @tab = "Home" %>

<div class="grid_12">
  <div style="padding-bottom:30px;">
    <div  style="padding-bottom:30px">
      <h2>Welcome</h2>
      <p><span style="font-weight:bold">Please Note:</span><br/>
      iMits is no longer accepting production data and has been replaced by GenTaR, a new tracking system.<br/>
      Please visit <a href="https://www.gentar.org/">GenTaR</a> for the most up to date production information.<br/>
      <span style="font-weight:bold">iMits is scheduled for retirement</span> and will be taken offline on <span style="font-weight:bold">2023-05-31</span>.<br/><br/><p><hr width="50%" align="left"/><br/>

      <p>Welcome to International Micro-Injection Tracking System. iMITS is the designated database for the planning of all IMPC mouse production,</br>
       as well as the central database to allow IMPC production centres to record the progress of mouse production, cre-excision and to summarise</br>
       the progress of phenotype data collection and transfer to the <a href="http://www.mousephenotype.org/">IMPC DCC</a>.</br></br>
       iMITS also stores all the mutation molecular structures made for the IKMC, as well as a catalog of all IKMC products.</br></br>
       All IMPC data (especially phenotyping data) can be found on <a href="http://www.mousephenotype.org/">the IMPC website</a></br></br>
       All IMPC-related queries should be addressed to <a href='mailto:mouse-helpdesk@ebi.ac.uk'>mouse-helpdesk@ebi.ac.uk</a></p>
    </div>

    <div style="padding-bottom:30px; border-bottom: 1px solid #bbb;">
      <h2>Getting data out of iMITS</h2>
      <p><span style="font-weight:bold">For web users</span>:<br/>
         You can directly browse all IMPC mouse production plans and progress, as well as IKMC ES Cell alleles on this website.
         <br/><br/>
         <span style="font-weight:bold">For developers</span>:<br/>
         Access to summary gene - level information and summary allele information can be obtained from our SOLR indices. instructions for querying that index can be found <a href='https://github.com/mpi2/imits/wiki/Accessing-Data-via-The-Solr-indicies'>here:</a>
         <br/><br/>
         Bulk access to all iMITS data can be obtained from the iMITS biomarts <a href='http://www.knockoutmouse.org/biomart/martview?VIRTUALSCHEMANAME=default&ATTRIBUTES=imits2.default.attributes.marker_symbol|imits2.default.attributes.mgi_accession_id|imits2.default.attributes.escell_clone|imits2.default.attributes.allele_symbol_superscript|imits2.default.attributes.production_centre|imits2.default.attributes.microinjection_status&FILTERS=&VISIBLEPANEL=mainpanel'>here:</a>
         <br/><br/>
        Bulk access to all IKMC allele data can be obtained from the targrep mart <a href='http://www.knockoutmouse.org/biomart/martview?VIRTUALSCHEMANAME=default&ATTRIBUTES=genes_targ_rep.default.attributes.pipeline|genes_targ_rep.default.attributes.ikmc_project_id|genes_targ_rep.default.attributes.mgi_accession_id|genes_targ_rep.default.attributes.targeting_vector|genes_targ_rep.default.attributes.escell_clone&FILTERS=&VISIBLEPANEL=mainpanel'>here:</a>
      </p>
    </div>
  </div>

  <table style="font-size: 85%">
  <tr>
  <td width="500" style="display: table-cell;vertical-align: top;">
    <h2 style="margin-bottom:0">New IMPC Mouse Production Attempts</h2>
    <div class="report grid_12">

      <table style="width:100%;">
      <thead>
      <tr>
        <th>Gene</th>
        <th>Consortium</th>
        <th>Production centre</th>
        <th>Production date</th>
      </tr>
      </thead>
      <tbody>

      <% @table_1.each do |row| %>
      <tr>
        <td><a href = <%= gene_selection_open_mi_plans_path('q[marker_symbol_or_mgi_accession_id_ci_in]' => row['marker_symbol'], 'q[mi_plans_consortium_id_in]' => row['consortium_id'], 'q[mi_plans_production_centre_id_in]' => row['production_centre_id'])  %>><%= row['marker_symbol'] %></a></td>
        <td><a href = <%= gene_selection_open_mi_plans_path('q[marker_symbol_or_mgi_accession_id_ci_in]' => row['marker_symbol'], 'q[mi_plans_consortium_id_in]' => row['consortium_id'], 'q[mi_plans_production_centre_id_in]' => row['production_centre_id'])  %>><%= raw row['consortium'] %></td>
        <td><a href = <%= gene_selection_open_mi_plans_path('q[marker_symbol_or_mgi_accession_id_ci_in]' => row['marker_symbol'], 'q[mi_plans_consortium_id_in]' => row['consortium_id'], 'q[mi_plans_production_centre_id_in]' => row['production_centre_id'])  %>><%= raw row['production_centre'] %></a></td>
        <td><%= row['mi_date'] %></td>
      </tr>
      <% end %>

      </tbody>
      </table>

    </div>
  </td>

  <td width="20px">
    <br/>
  </td>

  <td width="800" style="display: table-cell;vertical-align: top;">
    <h2 style="margin-bottom:0">New IMPC Genotype Confirmed Mice</h2>
    <div class="report grid_12">

      <table style="width:100%;">
      <thead>
      <tr>
        <th>Gene</th>
        <th>Consortium</th>
        <th>Production centre</th>
        <th>Production date</th>
        <th>Genotype confirmed date</th>
      </tr>
      </thead>
      <tbody>

      <% @table_2.each do |row| %>
      <tr>
        <td><a href = <%= gene_selection_open_mi_plans_path('q[marker_symbol_or_mgi_accession_id_ci_in]' => row['marker_symbol'], 'q[mi_plans_consortium_id_in]' => row['consortium_id'], 'q[mi_plans_production_centre_id_in]' => row['production_centre_id'])  %>><%= raw row['marker_symbol'] %></a></td>
        <td><a href = <%= gene_selection_open_mi_plans_path('q[marker_symbol_or_mgi_accession_id_ci_in]' => row['marker_symbol'], 'q[mi_plans_consortium_id_in]' => row['consortium_id'], 'q[mi_plans_production_centre_id_in]' => row['production_centre_id'])  %>><%= raw row['consortium'] %></a></td>
        <td><a href = <%= gene_selection_open_mi_plans_path('q[marker_symbol_or_mgi_accession_id_ci_in]' => row['marker_symbol'], 'q[mi_plans_consortium_id_in]' => row['consortium_id'], 'q[mi_plans_production_centre_id_in]' => row['production_centre_id'])  %>><%= raw row['production_centre'] %></a></td>
        <td><%= row['mi_date'] %></td>
        <td><%= row['gc_date'] %></td>
      </tr>
      <% end %>

      </tbody>
      </table>

    </div>
  </td>

  <tr>

  <td width="800" style="display: table-cell;vertical-align: top;">
    <h2 style="margin-bottom:0">IKMC production statistics</h2>
    <div class="report grid_12">

      <table style="width:100%;">
      <thead>
      <tr>
        <th>Project name</th>
        <th>Genes with vectors</th>
        <th>Genes with ES cells</th>
        <th>Genes with Mice</th>
      </tr>
      </thead>
      <tbody>

      <% @table_3.each do |row| %>
      <tr>
        <td><%= row['project_name'] %></td>
        <td><%= row['genes_with_vectors'] %></td>
        <td><%= row['genes_with_es_cells'] %></td>
        <td><%= row['genes_with_mice'] %></td>
      </tr>
      <% end %>

      </tbody>
      </table>

    </div>
  </td>

  </tr>

  </table>

</div>
