<fieldset class="static">
  <legend>Email</legend>
    <div class="email">
      <%= contact.email %>
    </div>
</fieldset>

<fieldset class="static">
  <legend>Details</legend>
    <div class="first-name">
      <%= label_tag :first_name %>
      <%= contact.first_name %>
    </div>
    <div class="last-name">
      <%= label_tag :last_name %>
      <%= contact.last_name %>
    </div>
    <div class="institution">
      <%= label_tag :institution %>
      <%= contact.institution %>
    </div>
    <div class="organisation">
      <%= label_tag :organisation %>
      <%= contact.organisation %>
    </div>
</fieldset>
