<% generator = FieldGenerator.new(form) %>
<% contact = form.object %>
  <fieldset id="email-field">
    <legend>Contact</legend>
      <div class="email">
        <%= generator.text_field(:email, :class => 'x-form-text', :size => 20) %>
      </div>
  </fieldset>
  <fieldset id="detail-fields">
    <legend>Details</legend>
      <div class="first-name">
        <%= generator.text_field(:first_name, :class => 'x-form-text', :size => 20) %>
      </div>
      <div class="last-name">
        <%= generator.text_field(:last_name, :class => 'x-form-text', :size => 20) %>
      </div>
      <div class="institution">
        <%= generator.text_field(:institution, :class => 'x-form-text', :size => 20) %>
      </div
      <div class="organisation">
        <%= generator.text_field(:organisation, :class => 'x-form-text', :size => 20) %>
      </div>
  </fieldset>

