<% content_for :post_js_footer do %>
  <%= javascript_include_tag('contacts/shared') %>
<% end %>
<div id="contact-new-bottom" class="grid_8 prefix_2 suffix_2">
  <div>
    <fieldset class="static">
      <legend>Gene</legend>
        <% if @gene %>
          <label>Marker Symbol</label>
          <%= @gene.marker_symbol %>
          <label>MGI Accession Id</label>
          <%= @gene.mgi_accession_id %>
        <% end %>
    </fieldset>
  </div>
    <%= form_for @contact, :as => :contact do |form| %>
      <div id="rest-of-form">
      <%= form.fields_for :notification do |notification_field| %>
        <%= notification_field.hidden_field :gene_id, :value => @gene.id %>
      <% end %>
        <%= render 'form', :form => form %>
        <div>
          <button id="contact_submit">Register</button>
        </div>
      </div>
    <% end %>
</div>
