<% @title = "Register Interest in Micro-Injecting Genes" %>
<% content_for :head do %>
  <%= javascript_tag "GENE_SEARCH_PARAMS = #{params[:q].to_json}" %>
  <%= javascript_tag "CENTRE_COMBO_OPTS = #{@centre_combo_options.to_json}" %>
  <%= javascript_tag "CONSORTIUM_COMBO_OPTS = #{@consortia_combo_options.to_json}" %>
  <%= javascript_tag "PRIORITY_COMBO_OPTS = #{@priority_combo_options.to_json}" %>
  <%= javascript_tag "INTEREST_STATUS_ID = #{@interest_status_id}" %>
  <%= javascript_include_tag 'mi_plans/gene_selection' %>
<% end %>

<h2><%= @title %></h2>

<%= form_tag url_for('/mi_plans/gene_selection'), :method => :get, :id => 'gene-search-form'  do %>
  <fieldset class="collapsible">
    <legend>Filter Genes</legend>
    <div>
      <div class="grid_6 alpha">
        <label for="q[marker_symbol_or_mgi_accession_id_ci_in]">Marker Symbol or MGI Accession ID:</label>
        <textarea id="q_marker_symbol_or_mgi_accession_id_ci_in" name="q[marker_symbol_or_mgi_accession_id_ci_in]"><%=
            if !params[:q].blank? && !params[:q][:marker_symbol_or_mgi_accession_id_ci_in].blank?
              params[:q][:marker_symbol_or_mgi_accession_id_ci_in]
            end
        -%></textarea>
      </div>
      <div id="buttons" class="grid_12">
        <input id="submit" type="submit" value="Search" />
        &ensp;|&ensp;
        <a id="clear-search-terms-button">Clear</a>
      </div>
    </div>
  </fieldset>
<% end %>

<div class="clear"></div>

<div id="mi-planning-grid"></div>

