<% @tab = 'Gene Selection' %>

<%
  gene_search_params = params[:q]
  gene_search_params = '' if gene_search_params.empty?
-%>

<% content_for :pre_js_footer do %>
  <%= javascript_tag "GENE_SEARCH_PARAMS = #{gene_search_params.to_json}" %>
  <%= javascript_tag "CENTRE_COMBO_OPTS = #{@centre_combo_options.to_json}" %>
  <%= javascript_tag "CONSORTIUM_COMBO_OPTS = #{@consortia_combo_options.to_json}" %>
  <%= javascript_tag "PRIORITY_COMBO_OPTS = #{@priority_combo_options.to_json}" %>
  <%= javascript_tag "WITHDRAWABLE_STATUSES = #{MiPlanStatus.all_affected_by_minor_conflict_resolution.map(&:name).to_json}" %>
<% end %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag 'mi_plans/gene_selection' %>
<% end %>

<h2>Register Interest in Micro-Injecting Genes</h2>

<%= form_tag gene_selection_mi_plans_path, :method => :get, :id => 'gene-search-form'  do %>
  <fieldset class="collapsible">
    <legend>Filter Genes</legend>
    <div>
      <div class="grid_6 alpha">
        <label for="q[marker_symbol_or_mgi_accession_id_ci_in]">Marker Symbol or MGI Accession ID:</label>
        <textarea col="40" rows="40" id="q_marker_symbol_or_mgi_accession_id_ci_in" name="q[marker_symbol_or_mgi_accession_id_ci_in]"><%=
            if !params[:q].blank? && !params[:q][:marker_symbol_or_mgi_accession_id_ci_in].blank?
              params[:q][:marker_symbol_or_mgi_accession_id_ci_in]
            end
        -%></textarea>
      </div>
      <div class="grid_6 omega">
        <div style="display:inline-block;">
          <label for="q[mi_plans_consortium_id_in]">MIs for Consortium:</label>
          <%=
            select_tag(
              'q[mi_plans_consortium_id_in]',
              options_from_collection_for_select(Consortium.all,'id','name',params[:q][:mi_plans_consortium_id_in]),
              { :include_blank => true, :multiple => true, :size => 6 }
            )
          %>
        </div>
        <div style="display:inline-block;">
          <label for="q[mi_plans_production_centre_id_in]">MIs at Production Centre:</label>
          <%=
            select_tag(
              'q[mi_plans_production_centre_id_in]',
              options_from_collection_for_select(Centre.all,'id','name',params[:q][:mi_plans_production_centre_id_in]),
              { :include_blank => true, :multiple => true, :size => 6 }
            )
          %>
        </div>
      </div>
      <div id="buttons" class="grid_12">
        <input id="submit" type="submit" value="Search" />
        &ensp;|&ensp;
        <a id="clear-search-terms-button">Clear</a>
      </div>
    </div>
  </fieldset>
<% end %>

<div class="clear"></div>

<div id="mi-planning-grid"></div>

