<% @tab = 'Gene Selection' %>

<%
  gene_search_params = params[:q]
  gene_search_params = '' if gene_search_params.empty?
-%>

<%= render 'mi_plans/plan_editor_js_constants' %>

<% content_for :pre_js_footer do %>
  <%= javascript_tag "GENE_SEARCH_PARAMS = #{gene_search_params.to_json}" %>
  <%= javascript_tag "FULL_ACCESS = #{@access}" %>
<% end %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag 'mi_plans/gene_selection' %>
<% end %>

<h2><%= @tab %></h2>

<%= form_tag "gene_selection", :method => :get, :id => 'gene-search-form'  do %>
  <fieldset class="collapsible">
    <legend>Filter Genes</legend>
    <div>
      <div class="grid_6 alpha">
        <label for="q[marker_symbol_or_mgi_accession_id_ci_in]">Marker Symbol or MGI Accession ID:</label>
        <textarea col="40" rows="40" id="q_marker_symbol_or_mgi_accession_id_ci_in" name="q[marker_symbol_or_mgi_accession_id_ci_in]"><%=
            if !params[:q].blank? && !params[:q][:marker_symbol_or_mgi_accession_id_ci_in].blank?
              params[:q][:marker_symbol_or_mgi_accession_id_ci_in]
            end
        -%></textarea>
      </div>
      <div class="grid_6 omega">
        <div style="display:inline-block;">
          <label for="q[mi_plans_consortium_id_in]">Consortium:</label>
          <%=
            select_tag(
              'q[mi_plans_consortium_id_in]',
              options_from_collection_for_select(Consortium.all,'id','name',params[:q][:mi_plans_consortium_id_in]),
              { :include_blank => true, :multiple => true, :size => 6 }
            )
          %>
        </div>
        <div style="display:inline-block;">
          <label for="q[mi_plans_production_centre_id_in]">Production Centre:</label>
          <%=
            select_tag(
              'q[mi_plans_production_centre_id_in]',
              options_from_collection_for_select(Centre.all,'id','name',params[:q][:mi_plans_production_centre_id_in]),
              { :include_blank => true, :multiple => true, :size => 6 }
            )
          %>
        </div>
        <div style="display:inline-block;">
          <table>
            <tr>
              <td><label for="q[mi_plans_mi_attempts_id_not_null]">MI in progress:</label></td>
              <% mi_default = params[:q][:mi_plans_mi_attempts_id_not_null] && params[:q][:mi_plans_mi_attempts_id_not_null] == '1' ? "checked" : "unchecked" %>
              <td><%= check_box :q, :mi_plans_mi_attempts_id_not_null, {:checked => mi_default} %></td>
            </tr>
            <tr>
              <td><label for="q[mi_plans_mi_attempts_status_stamps_status_id_in]">Genotype Confirmed MI:</label></td>
              <% mi_default = params[:q][:mi_plans_mi_attempts_status_stamps_status_id_in] && params[:q][:mi_plans_mi_attempts_status_stamps_status_id_in] == '2' ? "checked" : "unchecked" %>
              <td><%= check_box :q, :mi_plans_mi_attempts_status_stamps_status_id_in, {:checked => mi_default}, '2', '' %></td>
            </tr>
            <tr>
              <td><label for="q[mi_plans_phenotype_attempts_id_not_null]">Phenotype in progress:</label></td>
              <% pa_default = params[:q][:mi_plans_phenotype_attempts_id_not_null] && params[:q][:mi_plans_phenotype_attempts_id_not_null] == '1' ? "checked" : "unchecked" %>
              <td><%= check_box :q, :mi_plans_phenotype_attempts_id_not_null, {:checked => pa_default} %></td>
            </tr>
            <tr>
              <td><label for="q[mi_plans_phenotype_attempts_status_stamps_status_id_in]">CreExised Phenotype:</label></td>
              <% pa_default = params[:q][:mi_plans_phenotype_attempts_status_stamps_status_id_in] && params[:q][:mi_plans_phenotype_attempts_status_stamps_status_id_in] == '6' ? "checked" : "unchecked" %>
              <td><%= check_box :q, :mi_plans_phenotype_attempts_status_stamps_status_id_in, {:checked => pa_default}, '6','' %></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="buttons" class="grid_12">
        <input id="submit" type="submit" value="Search" />
        &ensp;|&ensp;
        <a id="clear-search-terms-button">Clear</a>
      </div>
    </div>
  </fieldset>
<% end %>

<div class="clear"></div>

<div id="mi-planning-grid"></div>

