<% @title = 'Edit Plan' %>

<div id="object-box" class="grid_8 prefix_2 suffix_2">
    <h2><%= @title %></h2>

    <%= link_to 'History', mi_plan_path(@mi_plan) + '/history' %>

    <%= form_for @mi_plan, :as => :mi_plan, :html => {:class => 'edit show mi-plan'} do |form| %>

      <%= form.error_messages %>

        <%= render 'form_contents', :form => form %>

        <fieldset class="collapsible hide-by-default">
          <legend>Status stamps</legend>
            <div>
              <table id="distribution_centres_table" class="report_table">
                <thead class="title">
                  <tr>
                    <th>Status name</th>
                    <th>Actioned</th>
                  </tr>
                </thead>
                <tbody class="distribution_centres">
                  <%= form.fields_for :status_stamps do |builder| %>
                    <% if !builder.object.new_record? %>
                    <%= render '/shared/status_stamp_fields', f: builder %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
        </fieldset>

        <div>
            <%= form.submit 'Update', :class => 'disable-on-submit' %>
        </div>

    <% end %>

</div>
