  <tr>
    <td><%= quality_overview.mi_plan_consortium %></td>
    <td><%= quality_overview.mi_plan_production_centre %></td>
    <td></td>
    <td><%= quality_overview.marker_symbol %></td>
    <td><%= quality_overview.es_cell_clone %></td>
    <td><%= quality_overview.colony_prefix %></td>
    <td><%= quality_overview.mi_attempt_status %></td>
    <td><%= quality_overview.overall_pass %></td>
    <td><%= quality_overview.confirm_locus_targeted %></td>
    <td><%= quality_overview.confirm_structure_targeted_allele %></td>
    <td><%= quality_overview.confirm_downstream_lox_p_site %></td>
    <td><%= quality_overview.confirm_no_additional_vector_insertions %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
