<% if @count == 0 %>
  <p><em>Sorry, no <%= label %> found</em></p>
<% else %>
  <p><%= @count %> <%= label %> found for <%= @consortium %> </p>

  <table>
    <thead>
      <tr>
        <th>Consortium</th>
        <th>Marker Symbol</th>
        <th>MGI Accession ID</th>

        <% if ! params['debug'].nil? %>
          <th>Production Centre</th>
          <th>mi_plan_status</th>
          <th>overall_status</th>
          <th>mi_attempt_status</th>
        <%end %>

        <th>Status</th>
        <th>Phenotyping</th>
      </tr>
    </thead>
    <tbody>
      <% @mi_plan_summary.each do |rec|%>
        <tr>
          <td><%= rec['consortium_name'] %></td>
          <td><%= rec['marker_symbol'] %></td>
          <td><%= rec['mgi_accession_id'] %></td>

          <% if ! params['debug'].nil? %>
            <td><%= rec['centre_name'] %></td>
            <td><%= rec['consortium_name'] %></td>
            <td><%= rec['mi_plan_status'] %></td>
            <td><%= rec['overall_status'] %></td>
            <td><%= rec['mi_attempt_status'] %></td>
          <%end %>

          <td><%= rec['processed_status'] %></td>
          <td><%= rec['phenotype_attempt_status'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
