<% @title = 'IMPC Production summary' %>

<h1><%= @title %></h1>

<p><%#= link_to 'Download as CSV', report_csv_path %></p>

<div class="report production_summary">

  <h2>Mouse production summary</h2>

  <table>
    <thead>
      <tr>
        <th>All genes</th>
        <th>Consortium</th>
        <th>ES cell QC</th>
        <th>ES QC confirmed</th>
        <th>ES QC failed</th>
        <th>Production Centre</th>
        <th>Microinjections</th>
        <th>Chimaeras produced</th>
        <th>Genotype confirmed mice</th>
        <th>Microinjection aborted</th>
        <th>Gene Pipeline efficiency (%)</th>
        <th>Clone Pipeline efficiency (%)</th>
      </tr>
    </thead>
    <tbody>
      <% @consortium_by_distinct_gene.each do |row| %>
        <% count = 0 %>
        
        <% @consortium_centre_by_status[row['consortium']].each do |centre| %>
          <% rowspan = @consortium_centre_by_status[row['consortium']].size %>
          <tr>
            <% unless count > 0 %>
              <td rowspan="<%= rowspan %>"><%= row['consortium'] %></td>
              <td rowspan="<%= rowspan %>"><%= link_to row['count'], report_detail_path(:consortium => row['consortium']) %></td>
              <% @mi_plan_statuses.each do |status| %>
                <td rowspan="<%= rowspan %>"><%= report_link_to(@consortium_by_status, row['consortium'], status) %></td>
              <% end %>
            <% end %>

            <td><%= centre %></td>
            <td><%= report_link_to(@consortium_centre_by_status, row['consortium'], 'Microinjections', :centre => centre) %></td>
            <td><%= report_link_to(@consortium_centre_by_status, row['consortium'], 'Chimeras', :centre => centre) %></td>
            <td><%= report_link_to(@consortium_centre_by_status, row['consortium'], 'Genotype Confirmed Mice', :centre => centre) %></td>
            <td><%= report_link_to(@consortium_centre_by_status, row['consortium'], 'Microinjection aborted', :centre => centre) %></td>
            <td><%= efficiency_percentage(@gene_efficiency_totals, row['consortium'], centre) %></td>
            <td><%= efficiency_percentage(@clone_efficiency_totals, row['consortium'], centre) %></td>
          </tr>

          <% count += 1 %>
        <% end %>


      <% end %>
    </tbody>
  </table>

  <h2>Cre-excision required Phenotyping summary</h2>

   <table>
    <thead>
      <tr>
        <th>All genes</th>
        <th>Consortium</th>
        <th>Production centre</th>
        <th>Genotype confirmed mice</th>
        <th>Intent to phenotype</th>
        <th>Rederivation started</th>
        <th>Rederivation completed</th>
        <th>Cre excision started</th>
        <th>Cre excision completed</th>
        <th>Phenotyping started</th>
        <th>Phenotyping completed</th>
        <th>Phenotyping aborted</th>
      </tr>
    </thead>
    <tbody>
      <% @consortium_by_distinct_gene.each do |row| %>
        <% count = 0 %>
        
        <% unless @consortium_centre_by_non_cre_phenotyping_status[row['consortium']].blank? %> 
          <% @consortium_centre_by_cre_phenotyping_status[row['consortium']].each do |centre| %>
            <% rowspan = @consortium_centre_by_cre_phenotyping_status[row['consortium']].size %>
            <tr>
              <% unless count > 0 %>
                <td rowspan="<%= rowspan %>"><%= row['consortium'] %></td>
                <td rowspan="<%= rowspan %>"><%= link_to row['count'], report_detail_path(:consortium => row['consortium']) %></td>
              <% end %>

              <td><%= centre %></td>
              <td><%= report_link_to(@consortium_centre_by_status, row['consortium'], "Genotype Confirmed Mice", :centre => centre, :cre_excision_required => true) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Intent to phenotype", :centre => centre, :cre_excision_required => true) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Rederivation started", :centre => centre, :cre_excision_required => true) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Rederivation completed", :centre => centre, :cre_excision_required => true) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Cre excision started", :centre => centre, :cre_excision_required => true) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Cre excision completed", :centre => centre, :cre_excision_required => true) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Phenotyping started", :centre => centre, :cre_excision_required => true) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Phenotyping completed", :centre => centre, :cre_excision_required => true) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Phenotyping aborted", :centre => centre, :cre_excision_required => true) %></td>
            </tr>

            <% count += 1 %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h2>Cre-excision *not* required Phenotyping summary</h2>

   <table>
    <thead>
      <tr>
        <th>All genes</th>
        <th>Consortium</th>
        <th>Production centre</th>
        <th>Genotype confirmed mice</th>
        <th>Intent to phenotype</th>
        <th>Rederivation started</th>
        <th>Rederivation completed</th>
        <th>Phenotyping started</th>
        <th>Phenotyping completed</th>
        <th>Phenotyping aborted</th>
      </tr>
    </thead>
    <tbody>
      <% row_count = 0 %>
      <% @consortium_by_distinct_gene.each do |row| %>
        <% count = 0 %>
        
        <% unless @consortium_centre_by_non_cre_phenotyping_status[row['consortium']].blank? %> 
          <% @consortium_centre_by_non_cre_phenotyping_status[row['consortium']].each do |centre| %>
            <% rowspan = @consortium_centre_by_non_cre_phenotyping_status[row['consortium']].size %>
            <tr>
              <% unless count > 0 %>
                <td rowspan="<%= rowspan %>"><%= row['consortium'] %></td>
                <td rowspan="<%= rowspan %>"><%= link_to row['count'], report_detail_path(:consortium => row['consortium']) %></td>
              <% end %>

              <td><%= centre %></td>
              <td><%= report_link_to(@consortium_centre_by_status, row['consortium'], "Genotype Confirmed Mice", :centre => centre, :cre_excision_required => false) %></td>
              <td><%= report_link_to(@consortium_centre_by_non_cre_phenotyping_status, row['consortium'], "Intent to phenotype", :centre => centre, :cre_excision_required => false) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Rederivation started", :centre => centre, :cre_excision_required => false) %></td>
              <td><%= report_link_to(@consortium_centre_by_cre_phenotyping_status, row['consortium'], "Rederivation completed", :centre => centre, :cre_excision_required => false) %></td>
              <td><%= report_link_to(@consortium_centre_by_non_cre_phenotyping_status, row['consortium'], "Phenotyping started", :centre => centre, :cre_excision_required => false) %></td>
              <td><%= report_link_to(@consortium_centre_by_non_cre_phenotyping_status, row['consortium'], "Phenotyping completed", :centre => centre, :cre_excision_required => false) %></td>
              <td><%= report_link_to(@consortium_centre_by_non_cre_phenotyping_status, row['consortium'], "Phenotyping aborted", :centre => centre, :cre_excision_required => false) %></td>
            </tr>

            <% count += 1 %>
            <% row_count += 1 %>
          <% end %>
        <% end %>
      <% end %>

      <% unless row_count > 0 %>
        <tr>
          <td colspan='8'>There are no cre-excision *not* required attempts for KOMP2 consortia.</td>
        </tr>
      <% end %>

    </tbody>
  </table>



  <br />

  <table class='descriptions'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>All Genes</th>
        <td>Unique genes targeted by Consortium</td>
      </tr>
      <tr>
        <th>ES Cell QC</th>
        <td><strong>Cumulative!</strong> Genes where we see any ES QC activity, in progress, successful or aborted</td>
      </tr>
      <tr>
        <th>ES QC Confirmed</th>
        <td>Genes where QC ES Cell clone(s) have been thawed and QC passed.</td>
      </tr>
      <tr>
        <th>Aborted - ES QC Failed</th>
        <td>Genes where no more attempts will be made to thaw existing ES Cell clones for this gene.</td>
      </tr>
      <tr>
        <th>Microinjections</th>
        <td><strong>Cumulative!</strong> Number of Genes with any mouse production activity, In Progress, Chimeric, Genotype Confirmed or Aborted</td>
      </tr>
      <tr>
        <th>Chimeras</th>
        <td>Number of Genes where iMits has at least one male chimera recorded</td>
      </tr>
      <tr>
        <th>Genotype Confirmed Mice</th>
        <td>Number of Genes where iMits has at least one 'Chimera with GC offspring' or 'Het offspring' recorded.</td>
      </tr>
      <tr>
        <th>Gene Pipeline Efficiency</th>
        <td>(#Unique Genes for all Genotype Confirmed MI's > 6 months old) / (#Unique Genes for all MI's > 6 months old)</td>
      </tr>
      <tr>
        <th>Clone Pipeline Efficiency</th>
        <td>(#Unique Clones for all Genotype Confirmed MI's > 6 months old) / (#Unique Clones for all MI's > 6 months old)</td>
      </tr>
    </tbody>
  </table>

  <br />

  <table class='descriptions'>
    <thead>
      <tr>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Genotype Confirmed Mice</th>
        <td>GC Mice from production table</td>
      </tr>
      <tr>
        <th>Intent to Phenotype</th>
        <td>
          <strong>Cumulative!</strong> Number of Genes where Genotype Confirmed Mice have been Registered for Phenotyping by this Consortium / Production Centre 
          <br />(Mice may be drawn from other consortia)
        </td>
      </tr>
      <tr>
        <th>Rederivation Started / Finished</th>
        <td>This step can be skipped</td>
      </tr>
      <tr>
        <th>Phenotype started / completed</th>
        <td>Phenotyping <strong>data</strong> has started / finished flowing to the KOMP2 DCC (MPI2) - currently accessible via machine interface only</td>
      </tr>
    </tbody>
  </table>

</div>

