<% @title = 'IMPC Production centre by month summary' %>

<h1><%= @title %></h1>

<p><%= link_to 'Download as CSV', report_csv_path %></p>

<div class="report">

  <% ImpcCentreByMonthReport.centres.each do |centre| %>
    <h2><%= centre %></h2>

    <table>
      <thead>
        <tr>
          <th rowspan='2'>Date</th>
          <th rowspan='2'>Production centre</th>
          <th colspan=<%= @es_cell_columns.keys.size %> style='text-align:center;'>ES Cell supply (number of clones)</th>
          <% @columns.keys.each do |column| %>
            <th colspan=2><%= column %></th>
          <% end %>
        </tr>
        <tr>
          <% @es_cell_columns.keys.each do |column| %>
            <th><%= column %></th>
          <% end %>
          <% @columns.each do |column, key| %>
            <th>Actual</th>
            <th>Goal</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @centre_by_month[:dates].each do |date| %>
          <tr>
            <td><%= date %></td>
            <td><%= centre %></td>
            <% @es_cell_columns.each do |column, key| %>
              <td><%= @centre_by_month["#{date}-#{centre}-#{column}"] %></td>
            <% end %>
            <% @columns.each do |column, key| %>
              <td><%= @centre_by_month["#{date}-#{centre}-#{column}"] %></td>
              <td><%= @centre_by_month["#{date}-#{centre}-#{column}_goal"] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan='2'>Total to date</td>

          <% @es_cell_columns.each do |key, column| %>
            <td><%= @cumulative_totals[centre]["#{column}_cumulative"] %></td>
          <% end %>

          <% @columns.each do |key, column| %>
            <td><%= @cumulative_totals[centre]["#{column}_cumulative"] %></td>
            <td><%= @cumulative_totals[centre]["#{column}_goal_cumulative"] %></td>
          <% end %>
        </tr>
      </tfoot>
    </table>
    <br />
  <% end %>

</div>