<% unless current_user.komp_centre? %>
  <style>
    .private {display: none;}
  </style>
  
  <% content_for :post_js_footer do %>
    <script>
      $(".private").remove();
    </script>
  <% end %>
<% end %>


<% if @title =~ /IDG/ %>
<% action = :notifications_by_gene_for_idg  %>
<% elsif @title =~ /CMG/ %>
<% action = :notifications_by_gene_for_cmg  %>
<% else %>
<% action = :notifications_by_gene%>
<% end %>

<div class="grid_12">
  <h2><%= @title %></h2>

  <% if @title =~ /IDG/ || @title =~ /CMG/ %>
    <%= link_to('Download as CSV', url_for({:action => action, :controller => '/v2/reports/mi_production', :format => :csv})) %>
  <% else %>
    <%= form_tag( { :action => action}, :method => :get, :class => 'report-form' ) do |form| %>
      <%= render 'report_controls3', :grouping => true, :mi_plan_reports => true %>
    <% end %>
  <% end %>

<% unless params[:commit].blank? %>
  <% if @report.nil? %>
    <p><em>Sorry, no production data found</em></p>
  <% else %>
    <div class="report grid_12">
    <%= raw @report.data %>
    </div>
  <% end %>
<% end %>
</div>
