
<div class="grid_12">
  <h2><%= @title %></h2>

  <% if @title !~ /Micro.Injections/ %>
    <p>
      <%=
        link_to('Download as CSV', url_for({:action => :planned_crispr_microinjection_list, :controller => '/v2/reports/mi_production', :format => :csv}))
      %>
    </p>
  <% end %>
</div>

<% if @title =~ /Micro.Injections/ %>
  <%= form_tag( { :action => :planned_microinjection_list }, :method => :get, :class => 'report-form' ) do |form| %>
    <%= render 'report_controls2', :grouping => true, :mi_plan_reports => true %>
  <% end %>
<% end %>

<% unless params[:commit].blank? && @title =~ /Micro.Injections/ %>
  <div class="report grid_12">
    <%= render :partial => 'report_with_counts2', :locals => { :report => @report, :label => 'planned micro-injections' } %>
  </div>
<% end %>
