<p>
  <%= form.label :name %><br />
  <%= form.text_field :name, :class => 'text' %>
</p>
<p>
  <%= form.label :description %><br />
  <%= form.text_field :description, :class => 'text' %>
</p>
<p>
  <%= form.label :gene_trap %><br />
  <%= form.check_box :gene_trap %>
</p>
<p>
  <%= form.label :report_to_public %><br />
  <%= form.check_box :report_to_public %>
</p>