<% content_for :post_js_footer do %>
  <%= javascript_include_tag('highcharts.js') %>
  <%= javascript_include_tag('highcharts-more.js') %>
  <%= javascript_include_tag('highcharts-export.js') %>
  <%= javascript_include_tag('goals/goal_graphs.js') %>  
  <%= javascript_include_tag('goals/index.js') %> 
<% end %>

<% @tab = 'Goal Management' %>

<div class = "grants">
  <table class="report_table">
    <thead>
      <tr>
        <th>Project/Grant</th>
        <th>Funded by</th>
        <th>Consortium</th>
        <th>Production Centre</th>
        <th>Commence</th>
        <th>End</th>
        <th>Mouse Lines to Deliver</th>
      </tr>
    </thead>
    <tbody>
      <% @grants.keys.each do |grant| %>
      <tr>
        <td><%= grant.name %></td>
        <td><%= grant.funding %></td>
        <td><%= grant.consortium_name %></td>
        <td><%= grant.production_centre_name %></td>
        <td><%= grant.commence_date %></td>
        <td><%= grant.end_date %></td>
        <td><%= grant.grant_goal %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="grant_list"></div>

<div id="goal_data"></div>
