<% @title = "Manage #{@centre.name} Details" %>
<div class="grid_12"><h2><%= @title %></h2></div>
<div id="messages" class="container_12"</div>
<%= form_for @centre, :remote => true, :html => {:id => "edit_centre"} do |form| %>
  <% generator = FieldGenerator.new(form) %>
  <fieldset class="collapsible">
    <legend>Centre's Contact Details</legend>
    <div class="container_12">
      <div>
        <div class="grid_4"><%= generator.number_field :contact_name %></div>
        <div class="grid_4"><%= generator.number_field :contact_email %></div>
      </div>
    </div>
  </fieldset>
  <div>
    <%= form.submit 'Update' %>
  </div>
<% end %>
