<% @tab = 'Admin' %>
<% @title = "Centres Admin" %>

<div class="adjust">
  <h2>Centres</h2>
</div>
<div class="adjust-alot">
  <%= form_for Centre.new do |f| %>
    <fieldset class="collapsible"><br>
        <legend>Add New Centre</legend>
        <span>
            Centre Name <%= f.text_field :name%>
            Contact Name <%= f.text_field :contact_name%>
            Contatct Email <%= f.text_field :contact_email%>
        </span>
    <%= f.submit%>
    </fieldset>
  <% end %>
</div>
<%= content_for :post_js_footer do %>
  <%= javascript_include_tag 'centres/index' %>
<% end %>

<div class="clear"></div>

<div id="centres-grid"></div>