<% content_for :post_js_footer do %>
  <%= javascript_include_tag('highcharts.js') %>
  <%= javascript_include_tag('highcharts-more.js') %>
  <%= javascript_include_tag('highcharts-export.js') %>
<% end %>

<% @tab = 'Goal Management' %>


<div class = "grants">
  <table>
    <thead>
      <tr>
        <th>Project/Grant</th>
        <th>Funded by</th>
        <th>Consortium</th>
        <th>Production Centre</th>
        <th>Commence</th>
        <th>End</th>
        <th>Mouse Lines to Deliver</th>
      </tr>
    </thead>
    <tbody>
      <% @grants.keys.each do |grant| %>
      <tr>
        <td><%= grant.name %></td>
        <td><%= grant.funding %></td>
        <td><%= grant.consortium_name %></td>
        <td><%= grant.production_centre_name %></td>
        <td><%= grant.commence %></td>
        <td><%= grant.end %></td>
        <td><%= grant.grant_goal %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div></div>

<div class = "goals">
  <table>
    <thead>
        <tr>
            <th rowspan = "2">Project/Grant</th>
            <th rowspan = "2">Goal Type</th>
            <% @dates.keys.each do |year|%>
              <th colspan = "<%= @dates[year].count %>" ><%= year %></th>
            <% end %>
        </tr>
        <tr>
          <% @dates.keys.each do |year|%>
            <% @dates[year].each do |month| %>
              <th><%= I18n.t("date.abbr_month_names")[month] %></th>
            <% end %>
          <% end %>
        </tr>
    </thead>
    <tbody>
      <% @grants.each do |grant, goal_type_and_data| %>
        <tr><td rowspan = "<%= goal_type_and_data.count%>" ><%= grant.name %></td>
        <% goal_type_and_data.each do |goal_type, data| %>
            <td><%= goal_type %></td>
            <% @dates.each do |year, months|%>
              <% months.each do |month|%>
                <td><%= data.has_key?(year) && data[year].has_key?(month) ? data[year][month] : '' %></td>
              <% end %>
            <% end %>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
