<% @tab = 'Phenotyping' %>

<% content_for :pre_js_footer do %>
  <%= javascript_tag "USER_PRODUCTION_CENTRE = #{current_user ? current_user.production_centre.name.to_json : ''}" %>
  <%= javascript_tag "CONSORTIUM_OPTIONS = #{Consortium.all.map(&:name).to_json}" %>
  <%= javascript_tag "CENTRE_OPTIONS = #{Centre.all.map(&:name).to_json}" %>
  <%= javascript_tag "PHENOTYPE_STATUS_OPTIONS = #{PhenotypeAttempt::Status.all.map(&:name).to_json}" %>
  <%= javascript_tag "PHENOTYPE_ATTEMPT_SEARCH_PARAMS = #{params[:q].to_json}" %>
  <%= javascript_tag "PHENOTYPE_DELETER_STRAIN_OPTIONS = #{DeleterStrain.all.map(&:name).to_json}" %>
<% end %>

<% content_for :post_js_footer do %>
  <%= javascript_tag "FULL_ACCESS = #{@access}" %>
  <%= javascript_include_tag 'phenotype_attempts/index' %>
<% end %>

<%= form_tag "phenotype_attempts", :method => :get, :id => 'pa-search-form' do %>
  <fieldset class="collapsible">
    <legend>Search for Phenotype Attempts</legend>
    <div>
      <div class="grid_6 alpha">
        <label for="q[terms]">Gene Symbol:</label>
        <textarea cols="10" rows="10" name="q[terms]" id="search-terms" class="initial-focus"><%= params[:q][:terms] %></textarea>
      </div>
      <div class="grid_6 omega">
        <table>
          <tr>
            <td><label for="q[production_centre_name]">Production Centre:</label></td>
            <td><%= select_tag 'q[production_centre_name]', options_for_select(['']+@centres.map(&:name), params[:q][:production_centre_name]) %></td>
          </tr>
          <tr>
            <td><label for="q[status_name]">Status:</label></td>
            <td><%= select_tag 'q[status_name]', options_for_select(['']+PhenotypeAttempt::Status.all.map(&:name), params[:q][:status_name]) %></td>
          </tr>
        </table>
      </div>
      <div id="buttons" class="grid_12">
        <input id="submit" type="submit" value="Search" />
        &ensp;|&ensp;<a id="clear-search-terms-button">Clear</a>
      </div>
    </div>
  </fieldset>




  <% if ! current_user %>
  <fieldset class="collapsible">
    <legend>Description of table</legend>
    <div>

      <!--TODO: create a class for the paragraph-->
      <p style='line-height:180%'>Each row of this table shows a summary of cre excision and phenotyping for a single IMPC mouse line</p>

      <p style='line-height:180%'><strong>Show in form:</strong> show cre excised mouse line and details in single web page</p>
      <p style='line-height:180%'><strong>Colony name:</strong> the unique name of the cre excised and phenotyped mouse line</p>
      <p style='line-height:180%'><strong>Consortium:</strong> IMPC consortium reposnsible for cre excision and phenotyping</p>
      <p style='line-height:180%'><strong>Production Centre:</strong> the centre at which cre excision and phenotyping is conducted</p>
      <p style='line-height:180%'><strong>Distribution centre(s):</strong> the centre(s) nominated to distribute cre excised mice</p>
      <p style='line-height:180%'><strong>Marker symbol:</strong> marker symbol of MGI locus.</p>

      <p style='line-height:180%'><strong>Active:</strong> whether the line has been aborted</p>
      <p style='line-height:180%'><strong>Status:</strong> status of cre excision and phenotyping</p>

    </div>
  </fieldset>
  <% end %>




<% end %>

<div class="clear"></div>

<div id="phenotype-attempts-grid"></div>
