<% @tab = 'Phenotyping' %>

<% content_for :pre_js_footer do %>
  <% production_centre = current_user.try(:production_centre).try(:name) %>
  <% production_centre = '' if ! production_centre %>
  <%= javascript_tag "USER_PRODUCTION_CENTRE = '#{production_centre}'" %>
  <%= javascript_tag "CONSORTIUM_OPTIONS = #{Consortium.all.map(&:name).to_json}" %>
  <%= javascript_tag "CENTRE_OPTIONS = #{Centre.all.map(&:name).to_json}" %>
  <%= javascript_tag "PHENOTYPE_STATUS_OPTIONS = #{( MouseAlleleMod::Status.all.map(&:name) + PhenotypingProduction::Status.all.map(&:name) - ['Mouse Allele Modification Aborted', 'Mouse Allele Modification Registered', 'Phenotyping Production Registered', 'Phenotype Production Aborted'] ).uniq.to_json}" %>
  <%= javascript_tag "PHENOTYPE_ATTEMPT_SEARCH_PARAMS = #{params[:q].to_json}" %>
  <%= javascript_tag "PHENOTYPE_DELETER_STRAIN_OPTIONS = #{DeleterStrain.all.map(&:name).to_json}" %>
<% end %>

<% content_for :post_js_footer do %>
  <%= javascript_tag "FULL_ACCESS = #{@access}" %>
  <%= javascript_include_tag 'phenotype_attempts/index' %>
<% end %>

<%= form_tag "phenotype_attempts", :method => :get, :id => 'pa-search-form' do %>
  <fieldset class="collapsible">
    <legend>Search for Phenotype Attempts</legend>
    <div>
      <div class="grid_6 alpha">
        <label for="q[terms]">Gene Symbol, or Colony Name, or Mi Attempt Colony Name:</label>
        <textarea cols="10" rows="10" name="q[terms]" id="search-terms" class="initial-focus"><%= params[:q][:terms] %></textarea>
      </div>
      <div class="grid_6 omega">
        <table>
          <tr>
            <td><label for="q[production_centre_name]"><a href=<%= consortia_path %>>Production Centre:</a></label></td>
            <td><%= select_tag 'q[production_centre_name]', options_for_select(['']+@centres.map(&:name), params[:q][:production_centre_name]) %></td>
          </tr>
          <tr>
            <td><label for="q[status_name]">Status:</label></td>
            <td><%= select_tag 'q[status_name]', options_for_select((['']+ MouseAlleleMod::Status.all.map(&:name) + PhenotypingProduction::Status.all.map(&:name) - ['Mouse Allele Modification Aborted', 'Mouse Allele Modification Registered', 'Phenotyping Production Registered', 'Phenotype Production Aborted'] ).uniq, params[:q][:status_name]) %></td>
          </tr>
        </table>
      </div>
      <div id="buttons" class="grid_12">
        <input id="submit" type="submit" value="Search" />
        &ensp;|&ensp;<a id="clear-search-terms-button">Clear</a>
      </div>
    </div>
  </fieldset>




  <% if ! current_user %>
  <fieldset class="collapsible">
    <legend>Description of table</legend>
    <div>
      <p class='read_only_description'>Each row of this table shows a summary of cre excision and phenotyping for a single IMPC mouse line</p>

      <p class='read_only_description'><strong>Show in form:</strong> show cre excised mouse line and details in single web page</p>
      <p class='read_only_description'><strong>Colony name:</strong> the unique name of the cre excised and phenotyped mouse line</p>
      <p class='read_only_description'><strong>Consortium:</strong> IMPC consortium reposnsible for cre excision and phenotyping</p>
      <p class='read_only_description'><strong>Production Centre:</strong> the centre at which cre excision and phenotyping is conducted</p>
      <p class='read_only_description'><strong>Distribution centre(s):</strong> the centre(s) nominated to distribute cre excised mice</p>
      <p class='read_only_description'><strong>Marker symbol:</strong> marker symbol of MGI locus.</p>

      <p class='read_only_description'><strong>Active:</strong> whether the line has been aborted</p>
      <p class='read_only_description'><strong>Status:</strong> status of cre excision and phenotyping</p>

    </div>
  </fieldset>
  <% end %>




<% end %>

<div class="clear"></div>

<div id="phenotype-attempts-grid"></div>
