<% @tab = 'Create Phenotype Attempt' %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag('phenotype_attempts/shared') %>
  <%= javascript_include_tag('phenotype_attempts/new') %>
  <%= javascript_include_tag('plans/selector') %>
<% end %>

<div id="object-new-bottom" class="grid_8 prefix_2 suffix_2">
  <%= form_for @phenotype_attempt, :method => :post, :as => :phenotype_attempt, :url => "#{root_path}phenotype_attempts", :html => {'onsubmit' => 'return false;'} do |form| %>

    <% if !form.object.errors.blank? %>
      <div class="errorExplanation" id="errorExplanation"><h2>1 error prohibited this phenotype attempt from being saved</h2><p>There were problems with the following fields:</p>
        <% form.object.errors.messages.each do |key, message| %>
          <ul><li><%= key.to_s + ' '+ message.join(' ') %></li></ul>
        <% end %>
      </div>
    <% end %>

  <fieldset class="collapsible">
    <legend>Gene</legend>
    <div>
      <div class="marker-symbol">
        <div class="label" >Marker Symbol</div>
        <div id="marker_symbol"><%= @mi_attempt.mi_plan.gene.marker_symbol %></div>
      </div>
    </div>
  </fieldset>
    <div id="rest-of-form">
      <fieldset class="collapsible">
        <legend>Mi-Plan Details</legend>
        <div id="mi_plan_list_phenotype"></div>
        <div id="create_plan"><a id="create_plan_link" href=" <%= url_for(:controller => :mi_plans, :action => :gene_selection) %>">Create new miplan</a></input>

        <div class="plan_details">
          <div class="grid_12 alpha omega" id="pp_outsourced_plan_selection" <%= if false then 'style=display:none;' end%>>
            <div class="grid_3">
              <div>
                <div class="label">Consortium</div>
                <div class="consortium_name" id="pp_outsource_consortium"><% unless f.object.outsourced_by_plan_id.blank?%><%= f.object.accredited_to.try(:consortium_name) %><% end %></div>
              </div>
            </div>
            <div class="grid_3">
              <div>
                <div class="label">Production Centre</div>
                <div class="production_centre_name" id="pp_outsource_centre"><% unless f.object.outsourced_by_plan_id.blank?%><%= f.object.accredited_to.try(:production_centre_name) %><% end %></div>
              </div>
            </div>
          </div>
          <div class="plan_selector">
            <div class="plan_id" id = "pp_outsource_plan_id"><%= f.text_field(:outsourced_by_plan_id) %></div>
            <div class="plan_selection_button" id="pp_outsource_button"></div>
          </div>
        </div>
      </fieldset>

      <%= form.hidden_field 'mi_plan_id', :value => @mi_attempt.mi_plan_id %>
      <%= render 'form_contents', :form => form %>
      <div>
        <button id="phenotype_attempt_submit">Create</button>
      </div>
    </div>
  <% end %>
</div>
