<% @tab = 'Create Phenotype Attempt' %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag('phenotype_attempts/shared') %>
  <%= javascript_include_tag('phenotype_attempts/new') %>
<% end %>

<div id="phenotype-attempt-new-bottom" class="grid_8 prefix_2 suffix_2">
  <%= form_for @phenotype_attempt, :as => :phenotype_attempt, :html => {'onsubmit' => 'return false;'} do |form| %>
  <fieldset class="collapsible">
    <legend>ES Cell Details</legend>
    <div>
      <div class="marker-symbol">
        <div class="label">Marker Symbol</div>
        <div><%= @mi_attempt.es_cell.marker_symbol %></div>
      </div>

      <div class="es-cell-name">
          <div class="label">ES Cell Name</div>
          <div><%= @mi_attempt.es_cell.name %></div>
      </div>
    </div>
  </fieldset>
    <div id="rest-of-form">   
      <%= render 'form_contents', :form => form %>
      <div>
        <button id="phenotype_attempt_submit">Create</button>
      </div>
    </div>
  <% end %>
</div>
