<% @title = 'Edit Phenotype Attempt' %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag('phenotype_attempts/shared') %>
  <%= javascript_include_tag('phenotype_attempts/show') %>
<% end %>

<div id="object-box" class="grid_8 prefix_2 suffix_2">
  <h2><%= @title %></h2>

  <%= link_to 'History', phenotype_attempt_path(@phenotype_attempt) + '/history' %>

  <%= form_for @phenotype_attempt, :as => :phenotype_attempt, :html => {:class => 'edit show phenotype-attempt'} do |form| %>

    <%= form.error_messages %>

    <fieldset class="collapsible">
      <legend>ES Cell Details</legend>
      <div>
        <div class="marker-symbol">
          <div class="label">Marker Symbol</div>
          <div><%= @mi_attempt.es_cell.marker_symbol %></div>
        </div>

        <div class="es-cell-name">
          <div class="label">ES Cell Name</div>
          <div><%= @mi_attempt.es_cell.name %></div>
        </div>
      </div>
    </fieldset>

    <fieldset class="collapsible">
      <legend>Mi-Plan Details</legend>
        <div>
          <div class="consortium-name">
            <div class="label">Consortium</div>
            <div><%= @phenotype_attempt.consortium_name %></div>
          </div>
          <div class="production-centre-name">
            <div class="label">Production Centre</div>
            <div><%= @phenotype_attempt.production_centre_name %></div>
          </div>
        </div>
    </fieldset>

    <%= render 'form_contents', :form => form %>

    <fieldset class="collapsible hide-by-default">
      <legend>Status stamps</legend>
        <div>
          <table id="distribution_centres_table" class="report_table">
            <thead class="title">
              <tr>
                <th>Status name</th>
                <th>Actioned</th>
              </tr>
            </thead>
            <tbody class="distribution_centres">
              <%= form.fields_for :status_stamps do |builder| %>
                <% if !builder.object.new_record? %>
                <%= render '/shared/status_stamp_fields', f: builder %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
    </fieldset>

    <div>
      <%= form.submit 'Update', :class => 'disable-on-submit', :id => 'phenotype_attempt_submit' %>
    </div>

<% end %>
</div>
