<% @title = 'Edit Phenotype Attempt' %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag('phenotype_attempts/shared') %>
  <%= javascript_include_tag('phenotype_attempts/show') %>
<% end %>

<div id="object-box" class="grid_8 prefix_2 suffix_2">
  <h2><%= @title %></h2>

  <%= link_to 'History', phenotype_attempt_path(@phenotype_attempt) + '/history' %>

  <%= form_for @phenotype_attempt, :as => :phenotype_attempt, :html => {:class => 'edit show phenotype-attempt'} do |form| %>
    <fieldset class="collapsible">
      <legend>ES Cell Details</legend>
      <div>
        <div class="marker-symbol">
          <div class="label">Marker Symbol</div>
          <div><%= @mi_attempt.es_cell.marker_symbol %></div>
        </div>

        <div class="es-cell-name">
          <div class="label">ES Cell Name</div>
          <div><%= @mi_attempt.es_cell.name %></div>
        </div>
      </div>
    </fieldset>

    <%= render 'form_contents', :form => form %>

    <div>
      <%= form.submit 'Update', :class => 'disable-on-submit', :id => 'phenotype_attempt_submit' %>
    </div>

<% end %>
</div>
