<% @title = 'Edit Phenotype Attempt' %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag('phenotype_attempts/show') %>
  <%= javascript_include_tag('phenotype_attempts/shared') %>
  <%= javascript_include_tag('plans/selector') %>
<% end %>

<div id="object-box" class="grid_8 prefix_2 suffix_2">
  <h2><%= @title %></h2>

  <%= link_to 'History', "#{@phenotype_attempt.id}/history" %>

  <%= form_for @phenotype_attempt, :method => :put, :as => :phenotype_attempt, :url => "#{root_path}phenotype_attempts/#{@phenotype_attempt.id}", :html => {:class => 'edit show phenotype-attempt'} do |form| %>

    <% if !form.object.errors.blank? %>
      <div class="errorExplanation" id="errorExplanation"><h2>1 error prohibited this phenotype attempt from being saved</h2><p>There were problems with the following fields:</p>
        <% form.object.errors.messages.each do |key, message| %>
          <ul><li><%= key.to_s + ' '+ message.join(' ') %></li></ul>
        <% end %>
      </div>
    <% end %>

    <fieldset class="collapsible">
      <legend>Mi-Plan Details</legend>
        <div>
        <div class="marker-symbol">
          <div class="label">Marker Symbol</div>
          <div><%= @phenotype_attempt.marker_symbol %></div>
        </div>
          <div class="consortium-name">
            <div class="label">Consortium</div>
            <div><%= @phenotype_attempt.consortium_name %></div>
          </div>
          <div class="production-centre-name">
            <div class="label">Production Centre</div>
            <div><%= @phenotype_attempt.production_centre_name %></div>
          </div>
        </div>

        <div class="label">Outsourced by</div>
        <div class="plan_details">
          <div class="grid_12 alpha omega" id="mam_outsourced_plan_selection" <%= if form.object.outsourced_by_plan_id.blank? then 'style=display:none;' end%>>
            <div class="grid_3">
              <div>
                <div class="label">Consortium</div>
                <div class="consortium_name" id="mam_outsource_consortium"><% unless form.object.outsourced_by_plan_id.blank?%><%= form.object.accredited_to.try(:consortium_name) %><% end %></div>
              </div>
            </div>
            <div class="grid_3">
              <div>
                <div class="label">Production Centre</div>
                <div class="production_centre_name" id="mam_outsource_centre"><% unless form.object.outsourced_by_plan_id.blank?%><%= form.object.accredited_to.try(:production_centre_name) %><% end %></div>
              </div>
            </div>
          </div>
          <div class="plan_selector">
            <div class="plan_id" id = "mam_outsource_plan_id"><%= form.hidden_field(:outsourced_by_plan_id) %></div>
            <div class="plan_selection_button" id="mam_outsource_button"></div>
          </div>
        </div>
    </fieldset>

    <%= render 'form_contents', :form => form %>

    <fieldset class="collapsible hide-by-default">
      <legend>Status stamps</legend>
        <div>
          <table id="status_stamps_table" class="report_table">
            <thead class="title">
              <tr>
                <th>Status name</th>
                <th>Actioned</th>
              </tr>
            </thead>
            <tbody class="distribution_centres">
              <% if !@phenotype_attempt.registered_at.blank? %> <tr><td>Phenotype Attempt Registered</td><td><%= form.datetime_select :registered_at %></td></tr> <% end %>
              <% if !@phenotype_attempt.rederivation_started_at.blank? %> <tr><td>Rederivation Started</td><td><%= form.datetime_select :rederivation_started_at %></td></tr> <% end %>
              <% if !@phenotype_attempt.rederivation_complete_at.blank? %> <tr><td>Rederivation Complete</td><td><%= form.datetime_select :rederivation_complete_at %></td></tr> <% end %>
              <% if !@phenotype_attempt.cre_excision_started_at.blank? %> <tr><td>Cre Excision Started</td><td><%= form.datetime_select :cre_excision_started_at %></td></tr> <% end %>
              <% if !@phenotype_attempt.cre_excision_complete_at.blank? %> <tr><td>Cre Excision Complete</td><td><%= form.datetime_select :cre_excision_complete_at %></td></tr> <% end %>
              <% if !@phenotype_attempt.phenotyping_started_at.blank? %> <tr><td>Phenotyping Started</td><td><%= form.datetime_select :phenotyping_started_at %></td></tr> <% end %>
              <% if !@phenotype_attempt.phenotyping_complete_at.blank? %> <tr><td>Phenotyping Complete</td><td><%= form.datetime_select :phenotyping_complete_at %></td></tr> <% end %>
            </tbody>
          </table>
        </div>
    </fieldset>

    <div>
      <%= form.submit 'Update', :class => 'disable-on-submit', :id => 'phenotype_attempt_submit' %>
    </div>

<% end %>
</div>
