<% if report.nil? %>
  <p><em>Sorry, no <%= label %> found</em></p>
<% else %>
  <% if !report.is_a? Ruport::Data::Grouping %>
    <p><%= report.size %> <%= label %> found</p>
    <%= raw report.to_html %>
  <% else %>
    <% report.each do |group_header, group_report| %>
      <p><%= group_header %> - <%= group_report.size %> <%= label %> found</p>
      <%= raw group_report.to_html.gsub("<p>#{group_header}</p>",'') %>
    <% end %>
  <% end %>
<% end %>
