<% @title1 = 'Double Assigned Micro-Injection Matrix' %>
<% @title2 = 'Double Assigned Micro-Injection List' %>

<p><%= link_to "Download List as CSV", :controller => :reports, :action => :double_assigned_plans_list, :format => :csv %></p>
<p><%= link_to "Download Matrix as CSV", :controller => :reports, :action => :double_assigned_plans_matrix, :format => :csv %></p>

<br/>

<h2><%= @title1 %></h2>

<div class="report grid_12">

<%=raw @report1.to_html %>

</div>

<h2><%= @title2 %></h2>

<div class="report grid_12">

<%=raw @report2.to_html %>

</div>
