<% @tab = 'Reports' %>
<div class="grid_4 suffix_8">
  <h2><%= @tab %></h2>
</div>

<div class="grid_4">
  <h3>Plans (Production, Phenotyping)</h3>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :planned_microinjection_summary_and_conflicts) %>">
      <h4>Plans and Conflicts for All Consortia</h4>
      <p>Summary counts of all Plans by Status and Priority, showing Conflicts</p>
    </a>
  </div>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :planned_microinjection_list) %>">
      <h4>All Planned Micro-Injections for a Specific Consortium</h4>
    </a>
  </div>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :double_assigned_plans) %>">
      <h4>Double-Assigned Planned Micro-Injections</h4>
      <p>Matrix showing plans assigned to two or more consortia (with possible production in both)</p>
    </a>
  </div>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :genes_list, :format => :csv) %>">
      <h4>All Genes</h4>
      <p>
        Lists all mouse genes that iMits is aware of and also shows the availability of IKMC
        alleles and any micro-injections that have been planned/performed for each gene.
        <br/><strong>CSV download only</strong>
      </p>
    </a>
  </div>
</div>

<div class="grid_4">
  <h3>Detailed Status Date Report</h3>
    <div class="report-links">
      <a href="<%= url_for(:controller => 'reports/mi_production', :action => :detail) %>">
        <h4>Gene-by-gene Status Change Dates for All IMPC Consortia</h4>
      </a>
    </div>

  <h3>KOMP2 Production Reports</h3>
    <div class="report-links">
      <a href="<%= url_for(:controller => 'reports/mi_production', :action => :summary_komp23) %>">
        <h4>Production for KOMP2 Consortia</h4>
        <p><strong>Generated every 20 minutes</strong></p>
      </a>
    </div>

    <div class="report-links">
      <a href="<%= url_for(:controller => 'reports/mi_production', :action => :summary_month_by_month_activity_komp2) %>">
      <h4>KOMP2 Month-by-month activity</h4>
        <p><strong>Generated every 20 minutes</strong></p>
      </a>
    </div>

  <h3>IMPC Production Reports</h3>
    <div class="report-links">
      <a href="<%= url_for(:controller => 'reports/mi_production', :action => :summary_by_consortium_and_accumulated_status) %>">
        <h4>All Consortia - Key Statuses</h4>
        <p>All IMPC Consortia for Key Statuses</p>
      </a>
    </div>
    <div class="report-links">
      <a href="<%= url_for(:controller => 'reports/mi_production', :action => :summary_impc3) %>">
        <h4>Production for IMPC Consortia</h4>
        <p><strong>Generated every 20 minutes</strong></p>
      </a>
    </div>

    <div class="report-links">
      <a href="<%= url_for(:controller => 'reports/mi_production', :action => :summary_month_by_month_activity_impc) %>">
      <h4>IMPC Month-by-month activity</h4>
      <p><strong>Generated every 20 minutes</strong></p>
      </a>
    </div>
</div>

<div class="grid_4">
  <h3>Languishing Projects</h3>
    <div class="report-links">
      <a href="<%= url_for(:controller => 'reports/mi_production', :action => :languishing, :consortia => 'BaSH,DTCC,JAX') %>">
        <h4>KOMP2 Languishing Projects</h4>
      </a>
    </div>
    <div class="report-links">
      <a href="<%= url_for(:controller => 'reports/mi_production', :action => :languishing) %>">
        <h4>All IMPC Languishing Projects</h4>
      </a>
    </div>
  <h3>Production Summaries (Legacy)</h3>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :mi_attempts_by_gene) %>">
      <h4>Gene Summary</h4>
      <p>
        Summary report showing counts of <strong>unique genes</strong> that have been micro-injected vs lines
        that have been genotype confirmed per production centre.
      </p>
    </a>
  </div>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :mi_attempts_monthly_production) %>">
      <h4>Month-by-Month Summary</h4>
      <p>Summary report showing production statistics for each production centre on a month-by-month basis.</p>
    </a>
  </div>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :mi_attempts_list) %>">
      <h4>All Micro-Injection Attempts</h4>
      <p>Lists details on all micro-injections attempts.</p>
    </a>
  </div>

</div>
