<% @tab = 'Reports' %>
<div class="grid_12">
  <h2><%= @tab %></h2>
</div>
<div class="grid_3">
  <h3>Genes</h3>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :genes_list, :format => :csv) %>">
      <h4>All Genes</h4>
      <p>
        Lists all mouse genes that iMits is aware of and also shows the availability of IKMC
        alleles and any micro-injections that have been planned/performed for each gene.
        <br/><strong>CSV download only</strong>
      </p>
    </a>
  </div>
</div>





<div class="grid_3">
  <h3>Micro-Injection Planning</h3>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :planned_microinjection_summary_and_conflicts) %>">
      <h4>Planned Micro-Injection Summary and Conflicts</h4>
      <p>Summary report for planned micro-injections.</p>
      <p>Shows the following for all IMPC consortia:</p>
      <ul>
        <li>counts of <strong>unique genes</strong> in each planning status</li>
        <li>counts of <strong>unique genes</strong> grouped by status and priority</li>
        <li>lists of conflict and inspect micro-injection plans</li>
      </ul>
    </a>
  </div>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :planned_microinjection_list) %>">
      <h4>All Planned Micro-Injections</h4>
      <p>Lists details on all planned micro-injections.</p>
    </a>
  </div>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :double_assigned_plans) %>">
      <h4>Double-Assigned Planned Micro-Injections</h4>
      <p>Matrix showing double-assigned planned</p>
      <p>micro-injections for consortia and funding.</p>
      <p>List showing double-assigned planned</p>
      <p>micro-injections grouped by consortia.</p>
    </a>
  </div>

</div>



<div class="grid_3">
  <h3>Micro-Injection Production</h3>

  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :mi_attempts_by_gene) %>">
      <h4>Gene Summary</h4>
      <p>
        Summary report showing counts of <strong>unique genes</strong> that have been micro-injected vs lines
        that have been genotype confirmed per production centre.
      </p>
    </a>
  </div>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :mi_attempts_monthly_production) %>">
      <h4>Month-by-Month Summary</h4>
      <p>Summary report showing production statistics for each production centre on a month-by-month basis.</p>
    </a>
  </div>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :mi_attempts_list) %>">
      <h4>All Micro-Injection Attempts</h4>
      <p>Lists details on all micro-injections attempts.</p>
    </a>
  </div>
</div>





<div class="grid_3">
  <h3>Production Reports</h3>
  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :mi_production) %>">
      <h4>Detailed Report</h4>
      <p>
        The detailed micro-injection production report
      </p>
    </a>
  </div>
  
  <% if ['development'].include?(Rails.env.to_s) %>

  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :mi_production2) %>">
      <h4>Intermediate Report</h4>
      <p>
        The intermediate micro-injection production report
      </p>
    </a>
  </div>

  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :production_summary1) %>">
      <h4>Feed Demo - Production Summary 1</h4>
      <p>Feed Demo - Production Summary 1.</p>
    </a>
  </div>

  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :production_summary2) %>">
      <h4>Production Summary 2</h4>
      <p>Group by Consortium.</p>
    </a>
  </div>

  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :production_summary3) %>">
      <h4>Production Summary 3</h4>
      <p>Group by Consortium and Priority.</p>
    </a>
  </div>

  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :production_summary4) %>">
      <h4>Production Summary 4</h4>
      <p>MGP Report. Group by Consortium, Sub-project and priority.</p>
    </a>
  </div>

  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :production_summary5) %>">
      <h4>Production Summary 5</h4>
      <p>Best Status report.</p>
    </a>
  </div>

  <% if ['rinky-dink'].include?(Rails.env.to_s) %>

  <div class="report-links">
    <a href="<%= url_for(:controller => :reports, :action => :production_summary_all) %>">
      <h4>Production Summary All</h4>
      <p>Production Summary All.</p>
    </a>
  </div>

  <% end %>
  
  <% end %>
  
</div>
