<% @title = 'Micro-Injection Attempts' %>

<div class="grid_12">
  <h2><%= @title %></h2>
</div>

<%= form_tag( { :controller => 'reports', :action => 'mi_attempts_list' }, :method => :get, :class => 'report-form' ) do |form| %>
  <%= render 'report_controls', :grouping => true %>
<% end %>

<% unless params[:commit].blank? %>
  <div class="report grid_12">
    <% if @cached %>
      <%= @report.data.to_s.html_safe %>
    <% else %>
      <%= render :partial => '/reports/report_with_counts', :locals => { :report => @report, :label => 'micro-injection attempts' } %>
    <% end %>
  </div>
<% end %>
