<% @title = 'Micro-Injection Attempts: Gene Summary' %>

<div class="grid_12">
  <h2><%= @title %></h2>
</div>

<%= form_tag( { :controller => 'reports', :action => 'mi_attempts_by_gene' }, :method => :get, :class => 'report-form' ) do |form| %>
  <%= render 'report_controls', :grouping => false %>
<% end %>

<% unless params[:commit].blank? %>
  <div class="report grid_12">
    <% if @report.nil? %>
      <p><em>Sorry, no production data found</em></p>
    <% else %>
      <%=raw @report.to_html %>
    <% end %>
  </div>
  <div class="report">
    <p><%=  @time %></p>
  </div>
<% end %>
