<% @title = 'Micro-Injection Attempts: Month-by-Month Summary' %>

<div class="grid_12">
  <h2><%= @title %></h2>
</div>

<%= form_tag( { :controller => 'reports', :action => 'mi_attempts_monthly_production' }, :method => :get, :class => 'report-form' ) do |form| %>
  <%= render 'report_controls', :grouping => false %>
<% end %>

<% unless params[:commit].blank? %>
<h2>Original</h2>
  <div class="report grid_12">
    <% if @report1.nil? %>
      <p><em>Sorry, no production data found</em></p>
    <% else %>
      <%=raw @report1.to_html %>
    <% end %>
  </div>
<h2>New</h2>
  <div class="report grid_12">
    <% if @report2.nil? %>
      <p><em>Sorry, no production data found</em></p>
    <% else %>
      <%=raw @report2.to_html %>
    <% end %>
  </div>
  <div class="report">
    <p><%= @delta %></p>
  </div>
<% end %>
