<% @title = 'Planned Micro-Injection Summary and Conflicts' %>

<h2><%= @title %></h2>

<%= form_tag( { :controller => :reports, :action => :planned_microinjection_summary_and_conflicts }, :method => :get, :class => 'report-form' ) do |form| %>
  <%=
    render( 'report_controls', { :grouping => false, :mi_plan_reports => true, :suppress_centre_consortium_filters => true } )
  %>
<% end %>

<% unless params[:commit].blank? %>
  <div class="grid_12">
    <h3># Genes in Planned Micro-Injection Statuses</h3>
    <div class="report">
      <%=raw @summary_by_status.to_html %>
    </div>

    <h3># Genes in Priority Groups</h3>
    <div class="report">
      <%=raw @summary_by_priority.to_html %>
    </div>

    <h3># Genes in Planned Micro-Injections by Status / Priority</h3>
    <div class="report">
      <%=raw @summary_by_status_and_priority.to_html %>
    </div>

    <h3>Conflicting Micro-Injection Plans</h3>
    <div class="report">
      <% if @conflict_report.size == 0 %>
        <p>No conflicts to report.</p>
      <% else %>
        <%= render :partial => '/reports/report_with_counts', :locals => { :report => @conflict_report, :label => 'conflicting micro-injection plans' } %>
      <% end %>
    </div>

    <h3>Declined Micro-Injection Plans</h3>
    <div class="report">
      <%= render :partial => '/reports/report_with_counts', :locals => { :report => @declined_report, :label => 'declined micro-injection plans' } %>
    </div>
  </div>
<% end %>

