<!DOCTYPE html>
<html>

  <head>
    <title>iMits - <%= @tab || @title %></title>
    <%= stylesheet_link_tag 'reset' %>

    <%= extjs_tags %>

    <%= stylesheet_link_tag 'grid' %>
    <!--[if IE]>
    <%= stylesheet_link_tag 'grid_ie' %>
    <![endif]-->

    <%= stylesheet_link_tag 'application' %>

    <%= javascript_include_tag 'application', :cache => true %>
    <%= csrf_meta_tag %>

    <%= javascript_tag "basePath = '#{request.env['SCRIPT_NAME']}';" %>

    <%= yield :head %>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-317752-10']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </head>

  <body>
    <div id="header" class="container_12">
      <div class="grid_8">
        <h1><%= link_to 'iMits', root_path %></h1>
      </div>
      <div class="grid_4">
        <% if user_signed_in? %>
          <%= render '/layouts/userbox' %>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>

    <% if user_signed_in? %>
      <div id="navigation" class="container_12">
        <%= render '/layouts/navigation' %>
      </div>
      <div class="clear"></div>
    <% end %>

    <div id="messages" class="container_12">
      <% if !Rails.env.production? %>
        <div class="message non-production-warning">
          PLEASE NOTE: This site is currently in 'development/testing' mode. This means that:
          <ul>
            <li>Performance will be reduced (as any form of caching is turned off)</li>
            <li>The data in the database is INCOMPLETE/INCORRECT - please do not trust the data in this instance (it is our development playground)</li>
          </ul>
          <strong>PLEASE DO NOT ENTER ANY PRODUCTION DATA INTO THIS SITE - IT WILL BE LOST...</strong>
        </div>
      <% end %>
      <%= flash_message :notice %>
      <%= flash_message :error %>
      <%= flash_message :alert %>
    </div>
    <div class="clear"></div>

    <div id="content" class="container_12">
      <%= yield %>
    </div>
    <div class="clear"></div>

    <div id="footer" class="container_12">
      <% unless GIT_REVISION.blank? %><p>Git revision: <%= GIT_REVISION %></p><% end %>
    </div>

  </body>
</html>
