<!DOCTYPE html>
<html>

  <head>
    <title>Kermits 2 - <%= @tab || @title %></title>

    <% if Rails.env.production? %>
      <%= javascript_include_tag 'jquery-1.6.1.min' %>
    <% else %>
      <%= javascript_include_tag 'jquery-1.6.1' %>
    <% end %>

    <%= stylesheet_link_tag 'reset' %>

    <%= if @netzke_required; netzke_init; end %>

    <%= stylesheet_link_tag 'grid' %>
    <!--[if IE]>
    <%= stylesheet_link_tag 'grid_ie' %>
    <![endif]-->

    <%= stylesheet_link_tag 'application' %>

    <%= javascript_include_tag 'mi_attempts_view_config', 'application', :cache => true %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1><%= link_to 'Kermits 2', root_path %></h1>
        <% if user_signed_in? %>
          <%= render '/shared/mainnav' %>
          <%= render '/shared/logged_in_header' %>
        <% end %>
      </div>

      <% unless @tab %><h2><%= @title %></h2><% end %>

      <%= flash_message :notice %>

      <%= flash_message :error %>

      <%= flash_message :alert %>

      <%= yield %>

      <div id="footer">
        <% unless GIT_REVISION.blank? %><p>Git revision: <%= GIT_REVISION %></p><% end %>
      </div>
    </div>
  </body>

</html>
