<!DOCTYPE html>
<html>

  <head>
    <title>iMits - <%= @title || @tab %></title>

    <!--see http://stackoverflow.com/questions/13789853/integrating-googlefonts-in-ruby-on-rails-3-2-application-->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css" >

    <%= include_stylesheets :common, :media => 'all' %>
    <!--[if IE]>
    <%= include_stylesheets :ie, :media => 'all' %>
    <![endif]-->


    <script type='text/javascript'>
      var open_interface = <%= current_user ? 'false' : 'true' %>;
    </script>

    <%= csrf_meta_tag %>
    <%= javascript_tag "basePath = '#{request.env['SCRIPT_NAME']}';" %>
    <%= javascript_tag "authenticityToken = '#{form_authenticity_token}';" %>
    <%= javascript_tag "Rails = {env: '#{Rails.env}', path: '#{SITE_PATH}'};" %>

    <%= yield :head %>

    <%= render '/layouts/google_analytics' %>
  </head>

  <body>
    <% header_id = current_user ? "header" : "header_ro" %>
    <div id="<%= header_id %>" class="container_12">
      <div class="grid_8">
        <h1><%= link_to 'iMits', root_path %></h1>
      </div>

      <div class="grid_4">
        <div id="userbox">
          <div id="userbox-inner">
            <%= render '/layouts/userbox' %>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <% if user_signed_in? %>
      <div id="navigation" class="container_12">
        <%= render '/layouts/navigation' %>
      </div>
      <div class="clear"></div>
    <% else %>
      <div id="navigation" class="container_12">
        <%= render 'open/layouts/navigation' %>
      </div>
      <div class="clear"></div>
    <% end %>

    <div id="messages" class="container_12">
      <% if current_user && !Rails.env.production? %>
        <%= render_message :warning do %>
          PLEASE NOTE: This site is currently in 'development/testing' mode. This means that:
          <ul>
            <li>Performance will be reduced (as any form of caching is turned off)</li>
            <li>The data in the database is INCOMPLETE/INCORRECT - please do not trust the data in this instance (it is our development playground)</li>
          </ul>
          <strong>PLEASE DO NOT ENTER ANY PRODUCTION DATA INTO THIS SITE - IT WILL BE LOST...</strong>
        <% end %>
      <% end %>

      <% if current_user && Rails.env.production? %>
        <%= render_message :error do %>
          <strong>PLEASE NOTE:</strong> iMits is no longer accepting production data since 6<sub>th</sub> August 2021. This means that:
          <ul>
            <li>From 6<sub>th</sub> August 2021 onwards, data entry has been stopped and it will remain as read only.</li>
            <li>All data entry needs to be made via the new tracking system, GenTaR; please visit <a href="https://www.gentar.org/" target="_blank">https://www.gentar.org/</a>.</li>
            <li>All data in iMits has been moved to GenTaR; please visit GenTaR for the most up to date production information.</li>
            <li><strong>iMits is scheduled for retirement</strong> and will be taken offline on <strong>2023-05-31</strong>.</li>
          </ul>
        <% end %>
      <% end %>

      <%= flash_message :notice %>
      <%= flash_message :error %>
      <%= flash_message :alert %>
      <%= yield :messages %>
    </div>
    <div class="clear"></div>

    <div id="content" class="container_12">
      <%= yield %>
    </div>
    <div class="clear"></div>

    <div id="footer" class="container_12">
      <div class="grid_2">
        <p>Revision: <%= TarMits.git_revision %></p>
      </div>
      <div class="grid_10" style="text-align:right;">
        This resource is developed and maintained by the <a href="http://www.mousephenotype.org/">MPI2 consortium</a><br/>
        <% if user_signed_in? %>
          <a href="<%= public_dump_path %>">Click here</a> for a public dump of the TarMits database<br />
        <% end %>
        Supported by the NIH KOMP2 project<br/>
        This resource was initially developed by the <a href="http://www.knockoutmouse.org/about">I-DCC</a><br/>
        Supported by the European Union (Project number: 223592)
      </div>
    </div>

    <%= yield :pre_js_footer %>

    <%= include_javascripts :common %>
    <%= include_javascripts :extjs_autodep %>
    <%= yield :post_js_footer %>

    <div id="data-protection-message-configuration"
    data-message="This website requires cookies, and the limited processing of your personal data in order to function. By using the site you are agreeing to this as outlined in our <a target='_blank' href='https://www.ebi.ac.uk/data-protection/privacy-notice/<%= user_signed_in? ? 'imits-submissionservices' : 'imits-i-dcc-org' %>'>Privacy Notice</a> and <a target='_blank' href='https://www.ebi.ac.uk/about/terms-of-use'>Terms of Use</a>." data-service-id="<%= user_signed_in? ? 'imits-submissionservices' : 'imits-i-dcc-org' %>" data-data-protection-version="0.1"></div>

    <script type="text/javascript">
      var localFrameworkVersion = 'other'; // 1.1 or 1.2 or compliance or other
      // if you select compliance or other we will add some helpful
      // CSS styling, but you may need to add some CSS yourself
      var newDataProtectionNotificationBanner = document.createElement('script');
      newDataProtectionNotificationBanner.src = 'https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/js/ebi-global-includes/script/5_ebiFrameworkNotificationBanner.js?legacyRequest='+localFrameworkVersion;
      document.head.appendChild(newDataProtectionNotificationBanner);
      newDataProtectionNotificationBanner.onload = function() {
        ebiFrameworkRunDataProtectionBanner(); // invoke the banner
      };
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43136334-2', 'mousephenotype.org');
      ga('send', 'pageview');

    </script>

  </body>
</html>
