<!DOCTYPE html>
<html>

  <head>
    <title>iMits - <%= @title || @tab %></title>

    <%= include_stylesheets :common, :media => 'all' %>
    <!--[if IE]>
    <%= include_stylesheets :ie, :media => 'all' %>
    <![endif]-->

    <%= csrf_meta_tag %>
    <%= javascript_tag "basePath = '#{request.env['SCRIPT_NAME']}';" %>
    <%= javascript_tag "authenticityToken = '#{form_authenticity_token}';" %>
    <%= javascript_tag "Rails = {env: '#{Rails.env}', path: '#{SITE_PATH}'};" %>

    <%= yield :head %>

    <%= render '/layouts/google_analytics' %>
  </head>

  <body>
    <div id="header" class="container_12">
      <div class="grid_8">
        <h1><%= link_to 'iMits', root_path %></h1>
      </div>

      <div class="grid_4">
        <div id="userbox">
          <div id="userbox-inner">
            <%= render '/layouts/userbox' %>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <% if user_signed_in? %>
      <div id="navigation" class="container_12">
        <%= render '/layouts/navigation' %>
      </div>
      <div class="clear"></div>
    <% else %>
      <div id="navigation" class="container_12">
        <%= render 'open/layouts/navigation' %>
      </div>
      <div class="clear"></div>
    <% end %>

    <div id="messages" class="container_12">
      <% if !Rails.env.production? %>
        <%= render_message :warning do %>
          PLEASE NOTE: This site is currently in 'development/testing' mode. This means that:
          <ul>
            <li>Performance will be reduced (as any form of caching is turned off)</li>
            <li>The data in the database is INCOMPLETE/INCORRECT - please do not trust the data in this instance (it is our development playground)</li>
          </ul>
          <strong>PLEASE DO NOT ENTER ANY PRODUCTION DATA INTO THIS SITE - IT WILL BE LOST...</strong>
        <% end %>
      <% end %>
      <%= flash_message :notice %>
      <%= flash_message :error %>
      <%= flash_message :alert %>
      <%= yield :messages %>
    </div>
    <div class="clear"></div>

    <div id="content" class="container_12">
      <%= yield %>
    </div>
    <div class="clear"></div>

    <div id="footer" class="container_12">
      <div class="grid_2">
        <p>Revision: <%= TarMits.git_revision %></p>
      </div>
      <div class="grid_10" style="text-align:right;">
        This resource is developed and maintained by the <a href="http://www.mousephenotype.org/">MPI2 consortium</a><br/>
        <% if user_signed_in? %>
          <a href="<%= public_dump_path %>">Click here</a> for a public dump of the TarMits database<br />
        <% end %>
        Supported by the NIH KOMP2 project<br/>
        This resource was initially developed by the <a href="http://www.knockoutmouse.org/about">I-DCC</a><br/>
        Supported by the European Union (Project number: 223592)
      </div>
    </div>

    <%= yield :pre_js_footer %>

    <%= include_javascripts :common %>
    <%= include_javascripts :extjs_autodep %>
    <%= yield :post_js_footer %>
  </body>
</html>
