<!DOCTYPE html>
<html>

  <head>
    <title>Kermits 2 - <%= @title %></title>
    <%= stylesheet_link_tag 'reset' %>
    <%= netzke_init %>

    <%= stylesheet_link_tag 'grid' %>

    <!--[if IE]>
    <%= stylesheet_link_tag 'grid_ie' %>
    <![endif]-->

    <%= stylesheet_link_tag 'application' %>

    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="container">
      <h1>Kermits 2 - <%= @title %></h1>

      <%= yield %>
    </div>
  </body>

</html>
