<!DOCTYPE html>
<html>

  <head>
    <title>Kermits 2 - <%= @title %></title>
    <%= stylesheet_link_tag 'reset' %>
    <%= netzke_init %>

    <%= stylesheet_link_tag 'grid' %>

    <!--[if IE]>
    <%= stylesheet_link_tag 'grid_ie' %>
    <![endif]-->

    <%= stylesheet_link_tag 'application' %>

    <%= javascript_include_tag 'mi_attempts_view_config', 'application', :cache => true %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1>Kermits 2 - <%= @title %></h1>
        <% if current_user %>
          <p>You are logged in as <%= current_user.full_name %> :: <a href="/logout">Logout</a></p>
        <% end %>
      </div>

      <%= flash_message :notice %>

      <%= flash_message :error %>

      <%= yield %>

      <div id="footer">
      </div>
    </div>
  </body>

</html>
